/* line 7, ../_dev/sass/induction.scss */
.induction h1 {
  margin-top: 0 !important;
  text-align: center !important;
}
/* line 13, ../_dev/sass/induction.scss */
.induction h4 {
  text-align: center;
}

/* line 20, ../_dev/sass/induction.scss */
.induction-progress-separator {
  color: #2d82bc;
  margin: 0 .5em;
}

/* line 27, ../_dev/sass/induction.scss */
body.page-induction-1 .template {
  position: relative;
}
/* line 31, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-wrapper {
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow: hidden;
  position: relative;
}
/* line 41, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-image {
  position: relative;
  overflow: hidden;
}
/* line 44, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-image img {
  display: inline-block;
  min-width: 100%;
  width: 100%;
  min-height: 300px;
  background: #fafafa;
  border-bottom: 1px solid #e6e6e6;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
/* line 56, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-content {
  padding: 2em 2em;
  color: #333;
}
/* line 59, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-content h5 {
  margin-top: 0;
  color: #fff;
  font-family: "OpenSansLight";
  font-size: 1.6em;
  margin: 0;
  text-align: center;
}
/* line 69, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-over {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
/* line 86, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-over button {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}
/* line 94, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-actions {
  font-size: 1.2em;
}
/* line 100, ../_dev/sass/induction.scss */
body.page-induction-1 .template:hover {
  text-decoration: none;
  position: relative;
}
/* line 109, ../_dev/sass/induction.scss */
body.page-induction-1 .template:hover .template-image {
  position: relative;
}
/* line 114, ../_dev/sass/induction.scss */
body.page-induction-1 .template:hover .template-image:hover {
  display: block;
  width: 100%;
}
/* line 120, ../_dev/sass/induction.scss */
body.page-induction-1 .template:hover .template-over {
  opacity: 1;
}
/* line 138, ../_dev/sass/induction.scss */
body.page-induction-1 .template-demo-frame {
  position: fixed;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
/* line 146, ../_dev/sass/induction.scss */
body.page-induction-1 .template-demo-frame .template-demo-frame-controls {
  position: relative;
  width: 100%;
  padding: 5px;
  border-bottom: 2px solid #218ec7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.8);
}
/* line 153, ../_dev/sass/induction.scss */
body.page-induction-1 .template-demo-frame .template-demo-frame-controls .frame-controls-left {
  float: left;
}
/* line 156, ../_dev/sass/induction.scss */
body.page-induction-1 .template-demo-frame .template-demo-frame-controls .frame-controls-right {
  float: right;
}
/* line 161, ../_dev/sass/induction.scss */
body.page-induction-1 .template-demo-frame .template-demo-frame-iframe-container {
  width: 100%;
  height: 100%;
}
/* line 164, ../_dev/sass/induction.scss */
body.page-induction-1 .template-demo-frame .template-demo-frame-iframe-container .template-demo-frame-iframe {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* line 218, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan {
  transition: all 0.25s;
  margin: 10px;
  padding: 20px 20px 0 20px;
  position: relative;
  overflow: hidden;
  border: 1px solid #e5e5e5;
  text-align: center;
  background-color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/* line 236, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan > div {
  margin-bottom: 20px;
}
/* line 239, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan > div:last-child {
  margin-bottom: 0px;
}
/* line 242, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanTitle {
  margin-bottom: 0;
}
/* line 245, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanTitle span {
  font-size: 18px;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  color: #333;
}
/* line 251, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanPrice {
  text-align: center;
}
/* line 254, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanPrice > span {
  display: inline-block;
  width: 100%;
}
/* line 258, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanPrice span {
  font-family: "OpenSansLight", Helvetica, Arial, sans-serif;
}
/* line 261, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanPrice span.CurrencySymbol {
  font-size: 48px;
}
/* line 264, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanPrice span.CurrencyUnits {
  font-size: 48px;
}
/* line 267, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanPrice span.CurrencyCents {
  font-size: 30px;
}
/* line 270, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanPrice:before {
  content: '';
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: #e6e6e6;
}
/* line 277, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanPrice:after {
  content: '';
  display: inline-block;
  width: 50%;
  height: 1px;
  background-color: #e6e6e6;
}
/* line 284, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanDescription {
  font-family: "OpenSansLight", Helvetica, Arial, sans-serif;
}
/* line 287, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanDescription strong {
  font-weight: bold;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
}
/* line 291, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanDescription p {
  font-style: italic;
}
/* line 294, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanAction .PricingPlanActionDescription {
  font-size: 14px;
  font-family: "OpenSans", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
/* line 299, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanAction button {
  padding: 0.75em 1.25em;
}
/* line 302, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanExtras .PricingPlanSash {
  display: inline-block;
  padding: 5px 100px;
}
/* line 306, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan .PricingPlanExtras .PricingPlanSash.SpecialOffer {
  display: inline-block;
  width: 117px;
  height: 117px;
  background: url("../images/sash-specialoffer-blue.png") no-repeat;
  position: absolute;
  padding: 0;
  top: 0px;
  right: -3px;
}
/* line 316, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan.Selected#PricingPlanFree {
  -webkit-box-shadow: 0 0 10px #9c9c9c;
  -moz-box-shadow: 0 0 10px #9c9c9c;
  box-shadow: 0 0 10px #9c9c9c;
}
/* line 321, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan.Selected#PricingPlanMonthly {
  -webkit-box-shadow: 0 0 10px #b4d455;
  -moz-box-shadow: 0 0 10px #b4d455;
  box-shadow: 0 0 10px #b4d455;
}
/* line 326, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan.Selected#PricingPlanYearly {
  -webkit-box-shadow: 0 0 10px #218ec7;
  -moz-box-shadow: 0 0 10px #218ec7;
  box-shadow: 0 0 10px #218ec7;
}
/* line 331, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan.NotSelected {
  opacity: 0.5;
}
/* line 334, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan#PricingPlanFree .PricingPlanPrice span {
  color: #333;
}
/* line 337, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan#PricingPlanFree .PricingPlanDescription strong {
  color: #333;
}
/* line 340, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan#PricingPlanMonthly .PricingPlanPrice span {
  color: #b4d455;
}
/* line 343, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan#PricingPlanMonthly .PricingPlanDescription strong {
  color: #b4d455;
}
/* line 346, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan#PricingPlanYearly .PricingPlanPrice span {
  color: #218ec7;
}
/* line 349, ../_dev/sass/induction.scss */
body.page-induction-2 .PricingPlans .PricingPlan#PricingPlanYearly .PricingPlanDescription strong {
  font-weight: bold;
  color: #218ec7;
}
@media only screen and (min-width: 992px) {
  /* line 376, ../_dev/sass/induction.scss */
  body.page-induction-2 .PricingPlans {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: 45px;
  }
  /* line 381, ../_dev/sass/induction.scss */
  body.page-induction-2 .PricingPlans .PricingPlan {
    margin: 0;
    min-height: 450px;
    max-width: 220px;
    float: left;
  }
  /* line 388, ../_dev/sass/induction.scss */
  body.page-induction-2 .PricingPlans .PricingPlanAction {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  /* line 397, ../_dev/sass/induction.scss */
  body.page-induction-2 #PricingPlanFree,
  body.page-induction-2 #PricingPlanMonthly {
    margin-top: 20px;
  }
  /* line 402, ../_dev/sass/induction.scss */
  body.page-induction-2 #PricingPlanYearly {
    height: 490px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 416, ../_dev/sass/induction.scss */
  body.page-induction-2 .PricingPlans {
    margin-left: 30px;
  }
  /* line 420, ../_dev/sass/induction.scss */
  body.page-induction-2 .PricingPlans .PricingPlan {
    min-height: 500px;
  }
  /* line 429, ../_dev/sass/induction.scss */
  body.page-induction-2 .PricingPlans #PricingPlanYearly {
    min-height: 540px;
  }
}
