/* line 7, ../_dev/sass/induction.scss */
.induction h1 {
  margin-top: 0 !important;
  text-align: center !important;
}
/* line 13, ../_dev/sass/induction.scss */
.induction h4 {
  text-align: center;
}

/* line 20, ../_dev/sass/induction.scss */
.induction-progress-separator {
  color: #2d82bc;
  margin: 0 .5em;
}

/* line 28, ../_dev/sass/induction.scss */
body.page-induction-2 .bs-callout h4 {
  margin-bottom: 0.75em;
}
/* line 31, ../_dev/sass/induction.scss */
body.page-induction-2 .bs-callout p {
  margin-bottom: 0.75em;
}
/* line 33, ../_dev/sass/induction.scss */
body.page-induction-2 .bs-callout p:last-child {
  margin-bottom: 0;
}
/* line 37, ../_dev/sass/induction.scss */
body.page-induction-2 .bs-callout .panel {
  margin-bottom: 0;
}
/* line 40, ../_dev/sass/induction.scss */
body.page-induction-2 .bs-callout .form-group input {
  margin: 0;
}
/* line 46, ../_dev/sass/induction.scss */
body.page-induction-2 .btn-lg .glyphicon {
  font-size: 18px;
  position: relative;
  top: 3px;
}

/* line 57, ../_dev/sass/induction.scss */
body.page-induction-1 .template {
  position: relative;
}
/* line 61, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-wrapper {
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow: hidden;
  position: relative;
}
/* line 71, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-image {
  position: relative;
  overflow: hidden;
}
/* line 74, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-image img {
  display: inline-block;
  min-width: 100%;
  width: 100%;
  min-height: 300px;
  background: #fafafa;
  border-bottom: 1px solid #e6e6e6;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
/* line 86, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-content {
  padding: 2em 2em;
  color: #333;
}
/* line 89, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-content h5 {
  margin-top: 0;
  color: #fff;
  font-family: "OpenSansLight";
  font-size: 1.6em;
  margin: 0;
  text-align: center;
}
/* line 99, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-over {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 20px;
  background: rgba(0, 0, 0, 0.75);
  opacity: 0;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
/* line 116, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-over button {
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
}
/* line 124, ../_dev/sass/induction.scss */
body.page-induction-1 .template .template-actions {
  font-size: 1.2em;
}
/* line 130, ../_dev/sass/induction.scss */
body.page-induction-1 .template:hover {
  text-decoration: none;
  position: relative;
}
/* line 139, ../_dev/sass/induction.scss */
body.page-induction-1 .template:hover .template-image {
  position: relative;
}
/* line 144, ../_dev/sass/induction.scss */
body.page-induction-1 .template:hover .template-image:hover {
  display: block;
  width: 100%;
}
/* line 150, ../_dev/sass/induction.scss */
body.page-induction-1 .template:hover .template-over {
  opacity: 1;
}
/* line 168, ../_dev/sass/induction.scss */
body.page-induction-1 .template-demo-frame {
  position: fixed;
  z-index: 10000;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
}
/* line 176, ../_dev/sass/induction.scss */
body.page-induction-1 .template-demo-frame .template-demo-frame-controls {
  position: relative;
  width: 100%;
  padding: 5px;
  border-bottom: 2px solid #218ec7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  background: rgba(0, 0, 0, 0.8);
}
/* line 183, ../_dev/sass/induction.scss */
body.page-induction-1 .template-demo-frame .template-demo-frame-controls .frame-controls-left {
  float: left;
}
/* line 186, ../_dev/sass/induction.scss */
body.page-induction-1 .template-demo-frame .template-demo-frame-controls .frame-controls-right {
  float: right;
}
/* line 191, ../_dev/sass/induction.scss */
body.page-induction-1 .template-demo-frame .template-demo-frame-iframe-container {
  width: 100%;
  height: 100%;
}
/* line 194, ../_dev/sass/induction.scss */
body.page-induction-1 .template-demo-frame .template-demo-frame-iframe-container .template-demo-frame-iframe {
  width: 100%;
  height: 100%;
  background-color: #fff;
}

/* line 242, ../_dev/sass/induction.scss */
.pricingplan {
  position: relative;
  background: #fff;
  margin-bottom: 20px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
/* line 251, ../_dev/sass/induction.scss */
.pricingplan:nth-child(1) .pricingplan-title {
  background: #9c9c9c;
  color: #fff;
}
/* line 255, ../_dev/sass/induction.scss */
.pricingplan:nth-child(1) .pricingplan-price {
  color: #9c9c9c;
}
/* line 260, ../_dev/sass/induction.scss */
.pricingplan:nth-child(2) .pricingplan-title {
  background: #499bd3;
  color: #fff;
}
/* line 264, ../_dev/sass/induction.scss */
.pricingplan:nth-child(2) .pricingplan-price {
  color: #499bd3;
}
/* line 269, ../_dev/sass/induction.scss */
.pricingplan:nth-child(3) .pricingplan-title {
  background: #b4d455;
  color: #fff;
}
/* line 273, ../_dev/sass/induction.scss */
.pricingplan:nth-child(3) .pricingplan-price {
  color: #b4d455;
}
/* line 278, ../_dev/sass/induction.scss */
.pricingplan:nth-child(4) .pricingplan-title {
  background: #7fbdcf;
  color: #fff;
}
/* line 282, ../_dev/sass/induction.scss */
.pricingplan:nth-child(4) .pricingplan-price {
  color: #7fbdcf;
}
/* line 287, ../_dev/sass/induction.scss */
.pricingplan:nth-child(5) .pricingplan-title {
  background: #ff9600;
  color: #fff;
}
/* line 291, ../_dev/sass/induction.scss */
.pricingplan:nth-child(5) .pricingplan-price {
  color: #ff9600;
}
/* line 296, ../_dev/sass/induction.scss */
.pricingplan:nth-child(6) .pricingplan-title {
  background: #f34040;
  color: #fff;
}
/* line 300, ../_dev/sass/induction.scss */
.pricingplan:nth-child(6) .pricingplan-price {
  color: #f34040;
}
/* line 305, ../_dev/sass/induction.scss */
.pricingplan.unselected {
  		/*
  
  		.pricingplan-title {
  			background: #ddd;
  		}
  
  		.pricingplan-price {
  			color: #ddd;
  		}
  
  		.pricingplan-action-button {
  			background: #aaa;
  			border-color: #aaa;
  		}
  
  		.pricingplan-action-button:hover,
  		.pricingplan-action-button:focus {
  			border-color: #999 !important;
  			background: #999 !important;
  		}
  
  		*/
}
/* line 345, ../_dev/sass/induction.scss */
.pricingplan.selected {
  -moz-box-shadow: 0 0 15px rgba(180, 212, 85, 0.75);
  -webkit-box-shadow: 0 0 15px rgba(180, 212, 85, 0.75);
  box-shadow: 0 0 15px rgba(180, 212, 85, 0.75);
}
/* line 349, ../_dev/sass/induction.scss */
.pricingplan .pricingplan-description {
  text-align: center;
}
/* line 353, ../_dev/sass/induction.scss */
.pricingplan .pricingplan-title,
.pricingplan .pricingplan-price-container,
.pricingplan .pricingplan-permonth,
.pricingplan .pricingplan-description,
.pricingplan .pricingplan-price-action {
  padding: 0 20px;
}
/* line 361, ../_dev/sass/induction.scss */
.pricingplan .pricingplan-title {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
  background: #fbfbfb;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  -moz-transition: background 0.25s;
  -o-transition: background 0.25s;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
  font-weight: bold;
}
/* line 378, ../_dev/sass/induction.scss */
.pricingplan .pricingplan-price-container {
  text-align: center;
  letter-spacing: -1px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}
/* line 387, ../_dev/sass/induction.scss */
.pricingplan .pricingplan-price-container .pricingplan-price-symbol,
.pricingplan .pricingplan-price-container .pricingplan-price-amount {
  font-size: 32px;
}
/* line 394, ../_dev/sass/induction.scss */
.pricingplan .pricingplan-price-container .pricingplan-price {
  font-size: 24px;
  font-weight: bold;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
}
/* line 402, ../_dev/sass/induction.scss */
.pricingplan .pricingplan-price-container .pricingplan-price-permonth {
  font-size: 16px;
  text-align: center;
  font-style: italic;
}
/* line 412, ../_dev/sass/induction.scss */
.pricingplan .pricingplan-action-description {
  font-style: italic;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
/* line 421, ../_dev/sass/induction.scss */
.pricingplan .pricingplan-action {
  text-align: center;
  padding: 0 20px 20px 20px;
}
/* line 426, ../_dev/sass/induction.scss */
.pricingplan .pricingplan-action .pricingplan-action-button {
  -moz-transition: background 0.25s border-color;
  -o-transition: background 0.25s border-color;
  -webkit-transition: background 0.25s border-color;
  transition: background 0.25s border-color;
}

/* line 439, ../_dev/sass/induction.scss */
.pricingplan-container {
  position: relative;
}

/* line 443, ../_dev/sass/induction.scss */
.form-group .form-group {
  margin-bottom: 0 !important;
  overflow: hidden;
}

/* line 451, ../_dev/sass/induction.scss */
.payment-line {
  font-weight: 700;
  font-size: 1.1em;
}
/* line 456, ../_dev/sass/induction.scss */
.payment-line .payment-line-value {
  font-weight: 700;
}
/* line 459, ../_dev/sass/induction.scss */
.payment-line .payment-line-amount {
  color: #b4d455;
}
/* line 464, ../_dev/sass/induction.scss */
.payment-line.payment-line-total .payment-line-label {
  color: #aaa;
}
/* line 470, ../_dev/sass/induction.scss */
.payment-line.payment-line-coupon .payment-line-value:before {
  content: "- ";
}

@media only screen and (min-width: 992px) {
  /* line 481, ../_dev/sass/induction.scss */
  .pricingplan-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-top: 40px;
  }

  /* line 489, ../_dev/sass/induction.scss */
  .pricingplan {
    width: 30%;
    display: -webkit-flex;
    display: flex;
    -webkit-order: 0;
    order: 0;
    -webkit-flex-grow: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 1;
    flex-shrink: 1;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  /* line 503, ../_dev/sass/induction.scss */
  .pricingplan .pricingplan-title,
  .pricingplan .pricingplan-price-container,
  .pricingplan .pricingplan-description,
  .pricingplan .pricingplan-action {
    width: 100%;
  }
  /* line 510, ../_dev/sass/induction.scss */
  .pricingplan:nth-child(2) {
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 1;
  }

  /* line 519, ../_dev/sass/induction.scss */
  .pricingplan-action {
    margin-top: auto;
  }
}
/* line 565, ../_dev/sass/induction.scss */
.step {
  opacity: 0;
  display: none;
  -moz-transition-property: opacity, -moz-transform;
  -o-transition-property: opacity, -o-transform;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
/* line 574, ../_dev/sass/induction.scss */
.step.step-transitioning {
  display: block;
}
/* line 578, ../_dev/sass/induction.scss */
.step.step-position-left {
  transform: translateX(-50%);
}
/* line 582, ../_dev/sass/induction.scss */
.step.step-position-right {
  transform: translateX(50%);
}
/* line 586, ../_dev/sass/induction.scss */
.step.step-out {
  opacity: 0;
}
/* line 590, ../_dev/sass/induction.scss */
.step.step-in {
  opacity: 1;
}
/* line 594, ../_dev/sass/induction.scss */
.step.step-current {
  opacity: 1;
  display: block;
}
/* line 599, ../_dev/sass/induction.scss */
.step .step-actions {
  border-top: 1px solid #f2f2f2;
  margin: 40px -40px -40px -40px;
  background: #f7f7f7;
  padding: 20px;
}
