/* line 6, ../_dev/sass/landing.scss */
body.page-landing a.landingitem {
  position: relative;
  display: inline-block;
}
/* line 11, ../_dev/sass/landing.scss */
body.page-landing a.landingitem:hover {
  text-decoration: none;
}
/* line 15, ../_dev/sass/landing.scss */
body.page-landing a.landingitem:hover .landingitem-wrapper {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
/* line 19, ../_dev/sass/landing.scss */
body.page-landing a.landingitem:hover .landingitem-image {
  position: relative;
}
/* line 26, ../_dev/sass/landing.scss */
body.page-landing a.landingitem:hover .landingitem-image-over {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
}
/* line 33, ../_dev/sass/landing.scss */
body.page-landing a.landingitem:hover .landingitem-image-over:after {
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 5;
  margin: auto;
  background: #29495e;
  opacity: .5;
}
/* line 58, ../_dev/sass/landing.scss */
body.page-landing .landingitem-wrapper {
  background: #fff;
  margin-bottom: 20px;
  border: 1px solid #e6e6e6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/* line 68, ../_dev/sass/landing.scss */
body.page-landing .landingitem-image {
  position: relative;
  overflow: hidden;
}
/* line 71, ../_dev/sass/landing.scss */
body.page-landing .landingitem-image img {
  display: inline-block;
  min-width: 100%;
  width: 100%;
  background: #fafafa;
  border-bottom: 1px solid #e6e6e6;
}
/* line 78, ../_dev/sass/landing.scss */
body.page-landing .landingitem-image .landingitem-image-over {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  width: 100%;
  z-index: 10;
}
/* line 88, ../_dev/sass/landing.scss */
body.page-landing .landingitem-image .landingitem-image-over a.btn {
  position: relative;
  z-index: 20;
}
/* line 94, ../_dev/sass/landing.scss */
body.page-landing .landingitem-image:after {
  content: none;
}
/* line 99, ../_dev/sass/landing.scss */
body.page-landing .landingitem-content {
  padding: 2em 2em;
  color: #333;
}
/* line 104, ../_dev/sass/landing.scss */
body.page-landing .landingitem-content h5 {
  margin-top: 0;
}
@media only screen and (max-width: 767px) {
  /* line 110, ../_dev/sass/landing.scss */
  body.page-landing .landingitem-content {
    padding: 1.5em;
  }
}
@media only screen and (min-width: 767px) {
  /* line 118, ../_dev/sass/landing.scss */
  body.page-landing .landingitem-wrapper {
    min-height: 300px;
    max-height: 500px;
    height: 500px;
  }
  /* line 124, ../_dev/sass/landing.scss */
  body.page-landing .landingitem-image {
    max-height: 240px;
  }
  /* line 126, ../_dev/sass/landing.scss */
  body.page-landing .landingitem-image img {
    min-height: 240px;
  }
}
@media only screen and (min-width: 762px) and (max-width: 992px) {
  /* line 135, ../_dev/sass/landing.scss */
  body.page-landing .landingitem-wrapper {
    min-height: 450px;
    max-height: 450px;
    height: 450px;
  }
  /* line 141, ../_dev/sass/landing.scss */
  body.page-landing .landingitem-image {
    max-height: 190px;
  }
  /* line 143, ../_dev/sass/landing.scss */
  body.page-landing .landingitem-image img {
    min-height: 190px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  /* line 158, ../_dev/sass/landing.scss */
  body.page-landing .landingitem-wrapper {
    min-height: 450px;
    max-height: 450px;
    height: 450px;
  }
  /* line 164, ../_dev/sass/landing.scss */
  body.page-landing .landingitem-image {
    max-height: 190px;
  }
  /* line 166, ../_dev/sass/landing.scss */
  body.page-landing .landingitem-image img {
    min-height: 190px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 175, ../_dev/sass/landing.scss */
  body.page-landing .landingitem-image {
    max-height: 240px;
  }
  /* line 177, ../_dev/sass/landing.scss */
  body.page-landing .landingitem-image img {
    min-height: 240px;
  }
}
