<!--#include file="../../../includes/GetContent.inc" -->
<!DOCTYPE html>
<html lang="en">
<head>
<!--#include file="../../../includes/ContentHead.inc" -->
<!--#include file="../../../includes/ContentJscripts.inc" -->
<title>Home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/superfish.js"></script>
<script src="js/script.js"></script>
<script src="js/jquery.responsivemenu.js"></script>
<script src="js/slides.min.jquery.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script>
$(function(){
	$('#slides').slides({
		effect: 'fade',
		fadeSpeed:700,
		preload: false,
		play: 5000,
		pause: 5000,
		hoverPause: true,
		animationStart: function(current){
			$('.caption').animate({opacity:0});
			if (window.console && console.log) {
				console.log('animationStart on slide: ', current);
			};
		},
		animationComplete: function(current){
			$('.caption').animate({opacity:1});
			if (window.console && console.log) {
				console.log('animationComplete on slide: ', current);
			};
		},
		slidesLoaded: function() {
			$('.caption').animate({opacity:1});
		}
	});
});
</script>
<!--[if lt IE 8]>
   <div style=' clear: both; text-align:center; position: relative;'>
     <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
       <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
  </div>
<![endif]-->
    <!--[if lt IE 9]>
   		<script src="js/html5.js"></script>
  		<link rel="stylesheet" href="css/ie.css"> 
	<![endif]-->
</head>
<body <!--#include file="../../../includes/ContentBody.inc" -->>

<!-- header -->
<div class="bg-header">
<div class="pad-main"></div>
	<div class="marg">
		<header>
			<div class="container_12">
				<div class="grid_12 alpha omega">
					<h1 class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></h1>
					<nav id="main-menu">
						<ul class="sf-menu responsive-menu">
							<li class="current"><a href="index.html">home</a></li>
							<li><a href="index-1.html">about</a></li>
							<li><a href="index-2.html">services<span class="arrow"></span></a><ul>
									<li><a href="#">Overview</a></li>
									<li><a href="#">Small Business<span class="arrow"></span></a><ul>
											<li><a href="#">Starting up</a></li>
											<li><a href="#">E-Commerce</a></li>
											<li><a href="#">Marketing</a></li>
										</ul>
									</li>
									<li><a href="#">Corporate</a></li>
								</ul>
							</li>
							<li><a href="index-3.html">products</a></li>
							<li><a href="index-4.html">contacts</a></li>
						</ul>
						<div class="clear"></div>
					</nav>	
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
	</div>
</div>
<!-- content -->
<div class="bg">
	<div class="bg2">
	<div class="wrapper">
		<div id="slides">
			<div class="slides_container">
				<div class="slide">
					<a href="#"><img src="images/slide1.jpg" alt=""></a>
					<div class="caption">
						<div class="text1">Progressive<span>Management</span></div>
						<div class="text2">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusmus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec luctus a, lorem.</div>
						<a href="#">Start Today!</a>
					</div>
				</div>
				<div class="slide">
					<a href="#"><img src="images/slide2.jpg" alt=""></a>
					<div class="caption">
						<div class="text1">Creative<span>solutions</span></div>
						<div class="text2">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusmus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec luctus a, lorem.</div>
						<a href="#">Start Today!</a>
					</div>
				</div>
				<div class="slide">
					<a href="#"><img src="images/slide3.jpg" alt=""></a>
					<div class="caption">
						<div class="text1">Marketing<span>experience</span></div>
						<div class="text2">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusmus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec luctus a, lorem.</div>
						<a href="#">Start Today!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
		<section id="content" class=""> 
	<div class="container_12 padcontent">
			<div class="wrapper">
				<div class="col1 bgcolor1">
					<a href="#">
						<div class="title">Professional<span>research</span></div>
						<p>Lorem ipsum dolor sit amet, con sec tetuer adipiscing</p>
						<div class="mask"></div>
					</a>
				</div>
				<div class="col1 bgcolor2">
					<a href="#">
						<div class="title">Business<span>Mindset</span></div>
						<p>Lorem ipsum dolor sit amet, con sec tetuer adipiscing</p>
						<div class="mask"></div>
					</a>
				</div>
				<div class="col1 bgcolor3">
					<a href="#">
						<div class="title">Attention<span>to Detail</span></div>
						<p>Lorem ipsum dolor sit amet, con sec tetuer adipiscing</p>
						<div class="mask"></div>
					</a>
				</div>
				<div class="col1 bgcolor4">
					<a href="#">
						<div class="title">Streamlined<span>Communication</span></div>
						<p>Lorem ipsum dolor sit amet, con sec tetuer adipiscing</p>
						<div class="mask"></div>
					</a>
				</div>
			</div> 
			<div class="wrapper">
				<div class="grid_6 alpha padtop">
					<h6>Your business needs fresh ideas?</h6>
					<p><strong>Lorem ipsum dolor sit amet, consec tetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Fusce suscipit varius mi.</strong></p>
					<p class="padbot2">Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculusmus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit ametuis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna.</p>
					<a href="#" class="button">Read more<span></span></a>
				</div>
				<div class="grid_6 omega">
					<div class="wrapper">
						<div class="col2 alpha padtop">
							<h6 class="padbot">Perfect opportunities</h6>
							<div class="title2">Advance your business!</div>
							<ul class="list1">
								<li><a href="#">Exploit your ideas</a></li>
								<li><a href="#">IT &amp; e-commerce</a></li>
								<li><a href="#">Sales and marketing</a></li>
								<li><a href="#">International trade</a></li>
								<li><a href="#">Grow your business</a></li>
							</ul>
							<a href="#" class="button">Read more<span></span></a>
						</div>
						<div class="col2 omega padtop">
							<h6 class="padbot">News headlines</h6>
							<div class="title2">What’s new?</div>
							<ul class="list1 padbot3">
								<li><a href="#">Second Quarter 2011 Fixed Income Investor Review</a></li>
								<li><a href="#">Joyous Upbeat on Economy<br> Prospects for China</a></li>
								<li><a href="#">Joyous Ventures Makes<br> Strategic Investment</a></li>
							</ul>
							<a href="#" class="button">More news<span></span></a>
						</div>
					</div>
				</div>
			</div>
	</div>
		</section>
	</div>
</div>
<!-- footer -->
<footer>
	<div class="container_12">
		<div class="z1">
			<div class="grid_3">
				<h1><a href="index.html"><img src="images/logo-footer.png" alt=""></a></h1>
			</div>
			<div class="grid_6">
				<strong>Let us cooperate!</strong>
				<div>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis part urient montes, nascetur orem ipsum dolor sit amet, consec tetuer adipiscin elit. Praesent ves tibulum molestie</div>
			</div>
			<div class="grid_3">
				<ul class="tooltips">
					<li><a href="#" class="tooltip"><strong><img src="images/icon1.png" alt=""></strong><span>RSS</span></a></li>
					<li><a href="#" class="tooltip"><strong><img src="images/icon3.png" alt=""></strong><span>Linkedin</span></a></li>
					<li><a href="#" class="tooltip"><strong><img src="images/icon2.png" alt=""></strong><span>Twitter</span></a></li>
					<li><a href="#" class="tooltip"><strong><img src="images/icon4.png" alt=""></strong><span>Facebook</span></a></li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="z2"><div class="grid_3"><div class="copyright"><!--#include file="../../../includes/powered-by.inc" --> || <a href="index-5.html">Privacy Policy</a><br> <!-- {%FOOTER_LINK} --></div></div><div class="clear"></div></div>
	</div>
</footer>     
</body>
</html>
