<!DOCTYPE html>
<html lang="en">
<head>
<title>Products</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/superfish.js"></script>
<script src="js/jquery.responsivemenu.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script src="js/script.js"></script>
<!--[if lt IE 8]>
   <div style=' clear: both; text-align:center; position: relative;'>
     <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
       <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
  </div>
<![endif]-->
    <!--[if lt IE 9]>
   		<script src="js/html5.js"></script>
  		<link rel="stylesheet" href="css/ie.css"> 
	<![endif]-->
</head>
<body>
<!-- header -->
<div class="bg-header">
<div class="pad-main"></div>
	<div class="marg">
		<header class="header">
			<div class="container_12">
				<div class="grid_12 alpha omega">
					<h1 class="logo"><a href="index.html"><img src="images/logo.png" alt=""></a></h1>
					<nav id="main-menu">
						<ul class="sf-menu responsive-menu">
							<li><a href="index.html">home</a></li>
							<li><a href="index-1.html">about</a></li>
							<li><a href="index-2.html">services<span class="arrow"></span></a><ul>
									<li><a href="#">Overview</a></li>
									<li><a href="#">Small Business<span class="arrow"></span></a><ul>
											<li><a href="#">Starting up</a></li>
											<li><a href="#">E-Commerce</a></li>
											<li><a href="#">Marketing</a></li>
										</ul>
									</li>
									<li><a href="#">Corporate</a></li>
								</ul>
							</li>
							<li class="current"><a href="index-3.html">products</a></li>
							<li><a href="index-4.html">contacts</a></li>
						</ul>
						<div class="clear"></div>
					</nav>	
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</header>
	</div>
</div>
<!-- content -->
<div class="bg">
	<div class="bg2">
		<section id="content"> 
			<div class="container_12 padcontent2">
				<div class="wrapper"><div class="grid_12 alpha omega"><h6 class="padbot32">Featured products</h6></div></div>
				<div class="wrapper">
					<div class="grid_4 alpha padtop52">
						<div class="box-product">
							<a href="images/image-blank.png" data-gal="prettyPhoto" title="" class="lightbox-image"><img src="images/4page_img1.jpg" alt=""></a>
							<div class="title-2"><a href="#">Product name 1</a></div>
							<span>Cum socqe pentibus et magnisurie ntotsseticulus mulla dugia leogrda atcursus necuus lorem. Maas tristique orci ac sem duis ultriceara onec accumsan malesuada orci sit amet eros. Lorem ipsum dolor.</span>
						</div>
					</div>
					<div class="grid_4 padtop52">
						<div class="box-product">
							<a href="images/image-blank.png" data-gal="prettyPhoto" title="" class="lightbox-image"><img src="images/4page_img2.jpg" alt=""></a>
							<div class="title-2"><a href="#">Product name 2</a></div>
							<span>Cum socqe pentibus et magnisurie ntotsseticulus mulla dugia leogrda atcursus necuus lorem. Maas tristique orci ac sem duis ultriceara onec accumsan malesuada orci sit amet eros. Lorem ipsum dolor.</span>
						</div>
					</div>
					<div class="grid_4 omega padtop52">
						<div class="box-product">
							<a href="images/image-blank.png" data-gal="prettyPhoto" title="" class="lightbox-image"><img src="images/4page_img3.jpg" alt=""></a>
							<div class="title-2"><a href="#">Product name 3</a></div>
							<span>Cum socqe pentibus et magnisurie ntotsseticulus mulla dugia leogrda atcursus necuus lorem. Maas tristique orci ac sem duis ultriceara onec accumsan malesuada orci sit amet eros. Lorem ipsum dolor.</span>
						</div>
					</div>
				</div>
				<div class="wrapper">
					<div class="grid_4 alpha padtop52">
						<div class="box-product">
							<a href="images/image-blank.png" data-gal="prettyPhoto" title="" class="lightbox-image"><img src="images/4page_img4.jpg" alt=""></a>
							<div class="title-2"><a href="#">Product name 4</a></div>
							<span>Cum socqe pentibus et magnisurie ntotsseticulus mulla dugia leogrda atcursus necuus lorem. Maas tristique orci ac sem duis ultriceara onec accumsan malesuada orci sit amet eros. Lorem ipsum dolor.</span>
						</div>
					</div>
					<div class="grid_4 padtop52">
						<div class="box-product">
							<a href="images/image-blank.png" data-gal="prettyPhoto" title="" class="lightbox-image"><img src="images/4page_img5.jpg" alt=""></a>
							<div class="title-2"><a href="#">Product name 5</a></div>
							<span>Cum socqe pentibus et magnisurie ntotsseticulus mulla dugia leogrda atcursus necuus lorem. Maas tristique orci ac sem duis ultriceara onec accumsan malesuada orci sit amet eros. Lorem ipsum dolor.</span>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
<!-- footer -->
<footer>
	<div class="container_12">
		<div class="z1">
			<div class="grid_3">
				<h1><a href="index.html"><img src="images/logo-footer.png" alt=""></a></h1>
			</div>
			<div class="grid_6">
				<strong>Let us cooperate!</strong>
				<div>Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis part urient montes, nascetur orem ipsum dolor sit amet, consec tetuer adipiscin elit. Praesent ves tibulum molestie</div>
			</div>
			<div class="grid_3">
				<ul class="tooltips">
					<li><a href="#" class="tooltip"><strong><img src="images/icon1.png" alt=""></strong><span>RSS</span></a></li>
					<li><a href="#" class="tooltip"><strong><img src="images/icon3.png" alt=""></strong><span>Linkedin</span></a></li>
					<li><a href="#" class="tooltip"><strong><img src="images/icon2.png" alt=""></strong><span>Twitter</span></a></li>
					<li><a href="#" class="tooltip"><strong><img src="images/icon4.png" alt=""></strong><span>Facebook</span></a></li>
				</ul>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
		<div class="z2"><div class="grid_3"><div class="copyright">&copy; 2012 <a href="index-5.html">Privacy Policy</a></div></div><div class="clear"></div></div>
	</div>
</footer>     
</body>
</html>
