<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
     <asp enableParentPaths="true" scriptErrorSentToBrowser="true"/>
	<handlers>
      <add name="HTML" path="*.html" verb="GET,HEAD,POST" modules="IsapiModule" scriptProcessor="%windir%\system32\inetsrv\asp.dll" resourceType="File" requireAccess="Script" preCondition="bitness64" />
	  <add name="SSINC-inc" path="*.inc" verb="*" modules="ServerSideIncludeModule" resourceType="File"  />
	</handlers>
	 <httpErrors existingResponse="PassThrough"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
 
    <staticContent>
            <remove fileExtension=".woff" />
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <remove fileExtension=".ttf" />
            <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
            <remove fileExtension=".svg" />
            <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        </staticContent>
  </system.webServer>
</configuration>