<!--#include file="../../../includes/GetContent.inc" -->
<!DOCTYPE html>
<html lang="en">
<head>
<!--#include file="../../../includes/ContentHead.inc" -->
<!--#include file="../../../includes/ContentJscripts.inc" -->
	<title>Contacts</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/skeleton.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/superfish.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
	<link rel="stylesheet" href="css/forms.css" type="text/css" media="screen">
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link rel="icon" href="images/favicon.ico" type="image/x-icon">
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<script src="js/jquery-1.7.1.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/superfish.js"></script>
	<script src="js/jquery.hoverIntent.js"></script>
	<script src="js/jquery.responsivemenu.js"></script>
	<script src="js/forms.js" type="text/javascript"></script>
	<!--[if lt IE 8]>
		<div style='clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">
			</a>
		</div>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<link rel="stylesheet" href="css/ie.css"> 
	<![endif]-->
	<!--[if IE 9]>
		<style>
			#contact-form input{padding:10px 15px;}
		</style>
	<![endif]-->
</head>
<body id="page5" >
	<!--======================== header ============================-->
	<header>
		<div class="container_12">
			<div class="grid_12">
				<div class="indent-bottom">
					<!--======================== logo ============================-->
					<h1>
						<a href="index.html">Bonfon <span>We know the secrets of success</span></a>
					</h1>
					<!--======================== menu ============================-->
					<nav>
						<ul class="menu responsive-menu">
							<li><a href="index.html">About Us</a></li>
							<li><a href="index-1.html">Projects</a></li>
							<li><a href="index-2.html">Services</a>
								<ul>
									<li><a href="#">Planning</a></li>
									<li><a href="#">Experience</a>
										<ul>
											<li><a href="#">Management </a></li>
											<li><a href="#">Marketing </a></li>
											<li class="last-item"><a href="#">Accounting</a></li>
										</ul>
										<em></em>
									</li>
									<li class="last-item"><a href="#">Researches</a></li>
								</ul>
								<em></em>
							</li>
							<li><a href="index-3.html">Clients</a></li>
							<li class="current last-item"><a href="index-4.html">Contacts</a></li>
						</ul>
					</nav>
					<div class="clear"></div>
				</div>
				<!--=================== banner ==================-->
				<div id="banner">
					<div class="slides_container">
						<div class="slide">
							<img src="images/banner.jpg" alt="">
							<div class="caption">Prominent Professionals</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</header>
	<!--======================== content ===========================-->
	<section id="content">
		<div class="container_12">
			<div class="wrapper ">
				<div class="grid_4">
					<h3 class="p5-1">Address</h3>
					<!--=============== Map ====================-->
					<div id="map">
						<figure class="p4-1">
							<iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Brooklyn,+New+York,+NY,+United+States&amp;aq=0&amp;sll=37.0625,-95.677068&amp;sspn=61.282355,146.513672&amp;ie=UTF8&amp;hq=&amp;hnear=Brooklyn,+Kings,+New+York&amp;ll=40.649974,-73.950005&amp;spn=0.01628,0.025663&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
						</figure>
						<dl>
							<dt>8901 Marmora Road,<br>
								Glasgow, D04 89GR.
							</dt>
							<dd><span>Freephone:</span> +1 800 559 6580</dd>
							<dd><span>Telephone:</span> +1 800 603 6035</dd>
							<dd><span>FAX:</span> +1 800 889 9898</dd>
							<dd>E-mail: <a href="#">mail@demolink.org</a></dd>
						</dl>
					</div>
				</div>
				<div class="grid_8 last-col">
					<h3 class="p5-1">Contact Form</h3>
					<!--=========== Contact form ==============-->
					<form id="contact-form">
						<div class="success">
							Contact form submitted!<br>
							<strong>We will be in touch soon.</strong>
						</div>
						<fieldset>
							<label class="name">
								<input type="text" value="Name:">
								<span class="error">*This is not a valid name.</span> <span class="empty">*This field is required.</span> 
							</label>
							<label class="email">
								<input type="text" value="E-mail:">
								<span class="error">*This is not a valid email address.</span> <span class="empty">*This field is required.</span>
							</label>
							<label class="phone">
								<input type="tel" value="Phone:">
								<span class="error">*This is not a valid phone number.</span> <span class="empty">*This field is required.</span>
							</label>
							<label class="message">
								<textarea>Message:</textarea>
								<span class="error">*The message is too short.</span> <span class="empty">*This field is required.</span>
							</label>
							<div class="buttons-wrapper">
								<a class="button" data-type="reset">clear</a>
								<a class="button" data-type="submit">submit</a>
							</div>
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--======================== footer ============================-->
	<footer>
		<div class="container_12">
			<div class="wrapper">
				<div class="grid_3">
					<h4 class="p5-1">Our Social</h4>
					<!--===========================social icons==============================-->
					<ul class="social-icons">
						<li class="icon-1"><a href="#">Twitter</a></li>
						<li class="icon-2"><a href="#">Google Plus</a></li>
						<li class="icon-3"><a href="#">Facebook</a></li>
						<li class="icon-4 last-item"><a href="#">RSS</a></li>
					</ul>
				</div>
				<div class="grid_6">
					<h4 class="p4-1">Shortly About Us</h4>
					Sit amet, consec tetuer adipiscin elit. Praesent ves tibu lum moles tiet lacus aenean nonummy hendrerit mauris phaselu porta. Fusce suset cip varius mi. Cum sociis natoque penatibus hasellus por taus suscipity vari mitte dolor sit amet, consec tetuer adipiscin elit. 
				</div>
				<div class="grid_3 last-col">
					<h4 class="p4-1">copyright</h4>
					<div class="footer-text">
						<!--#include file="../../../includes/powered-by.inc" --> | <a href="index-5.html">Privacy&nbsp;Policy</a>
					</div>
				</div>
			</div>
		</div>
	</footer>
    <!--#include file="../../../includes/ContentPageEnd.inc" -->
</body>
</html>