<!--#include file="../../../includes/GetContent.inc" -->
<!DOCTYPE html>
<html lang="en">
<head>
<!--#include file="../../../includes/ContentHead.inc" -->
<!--#include file="../../../includes/ContentJscripts.inc" -->
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
    <script src="js/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="js/superfish.js" type="text/javascript"></script>
    <script src="js/slides.min.jquery.js"></script>
    <script src="js/FF-cash.js" type="text/javascript"></script> 
    <script src="js/script.js" type="text/javascript"></script>
    <script src="js/jquery.hoverIntent.js" type="text/javascript"></script>
	<script src="js/jquery.responsivemenu.js" type="text/javascript"></script>
    <script src="js/jquery.cycle.all.js" type="text/javascript"></script>
    <script src="js/easyTooltip.js" type="text/javascript"></script>    
    <script type="text/javascript">
	    $('#slideshow').cycle({
			fx:     'fade',
			speed:  'fast',
			next: '.next',
			prev: '.prev',
			timeout: 8000,
			speed: 300,
			cleartype: true,
			cleartypeNoBg: true
		});

		$(document).ready(function() { 
			$(".social-buttons a.tooltips").easyTooltip();			
		});
	</script>
    
    <!--[if lt IE 8]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
             <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
            </a>
        </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
	<![endif]-->
</head>
<body id="page1" >
	<!--==============================header=================================-->
    <header>
    	<div class="container_12">
        	<div class="grid_12">
	        	<div class="header-bg">
	            	<div class="row-1">
			            <h1><a href="index.html">Wabrick</a></h1>
                        <div class="menu-indent">
				            <nav id="main-menu">
		                    	<div class="fleft">
					                <ul class="menu responsive-menu">
					                    <li><a class="active" href="index.html">Home<span>Welcome Page</span></a></li>
					                    <li><a href="index-1.html">About<span>Who We Are</span></a><strong></strong>
			                            	<ul>
			                                	<li><a href="#"><span><span>Our Mission</span></span></a></li>
			                                    <li><a href="#"><span><span>Our Team</span></span></a></li>
			                                    <li><a href="#"><span><span>Our Standards</span></span></a>
			                                    	<ul>
			                                        	<li><a href="#"><span><span>Analyze</span></span></a></li>
			                                            <li><a href="#"><span><span>Maintain</span></span></a></li>
			                                            <li><a href="#"><span><span>Grow</span></span></a></li>
			                                            <li class="last"><a href="#"><span><span>Develop</span></span></a></li>
			                                        </ul>
			                                    </li>
			                                    <li class="last"><a href="#"><span><span>Testimonials</span></span></a></li>
			                                </ul>
			                            </li>
					                    <li><a href="index-2.html">Services<span>Our Capabilities</span></a></li>
					                    <li><a href="index-3.html">Mail<span>Stay In Touch</span></a></li>
					                </ul>
				                    <div class="clear"></div>
		                        </div>
		                        <ul class="social-buttons">
		                            <li><a class="tooltips" title="Google+" href="#"></a></li>
		                            <li><a class="tooltips item-2" title="Twitter" href="#"></a></li>
		                        </ul>
		                        <div class="clear"></div>
				            </nav>
                        </div>
		                <div class="clear"></div>
	                </div>
	                <div id="slides">
	                    <div class="slides_container">
	                        <div class="slide"><img src="images/image-1.jpg" alt=""></div>
	                        <div class="slide"><img src="images/image-2.jpg" alt=""></div>
	                        <div class="slide"><img src="images/image-3.jpg" alt=""></div>
	                    </div>
	                </div>
	            </div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
    
	<!--==============================content================================-->
    <section id="content">
      	<div class="content-border">
            <div class="container_12">
                <div class="wrapper p5 display-sw1">
                    <div class="grid_12">
                        <div class="slideshow-wrapper">
                            <div id="slideshow">
                                <div class="slide-2">Our work is dedicated to the prosperity of our clients!</div>
                                <div class="slide-2">Stability and emphasis on client advocacy!</div>
                                <div class="slide-2">Honesty, commitment, quality craftsmanship.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="wrapper">
                    <div class="grid_3 indent-sw1">
                        <h3 class="indent-bot2">Latest News</h3>
                        <div class="border-3 bot-pad indent-bot">
                            <time datetime="2012-09-20">20-09-2012</time>
                            <h5 class="p1"><a href="#">Lorem ipsum dolor sit amet, consectetuer adip.</a></h5>
                            <p class="p0">Iscing elit, sed diam nonumm nib euismod tincidunt ut laoreet dolore magna aliquam era.</p>
                        </div>
                        <div class="border-3 bot-pad indent-bot">
                            <time datetime="2012-09-20">20-09-2012</time>
                            <h5 class="p1"><a href="#">Lorem ipsum dolor sit amet, consectetuer adip.</a></h5>
                            <p class="p0">Iscing elit, sed diam nonumm nib euismod tincidunt ut laoreet dolore magna aliquam era.</p>
                        </div>
                        <div class="border-3 bot-pad indent-bot2">
                            <time datetime="2012-09-20">20-09-2012</time>
                            <h5 class="p1"><a href="#">Lorem ipsum dolor sit amet, consectetuer adip.</a></h5>
                            <p class="p0">Iscing elit, sed diam nonumm nib euismod tincidunt ut laoreet dolore magna aliquam era.</p>
                        </div>
                        <a class="button" href="#">Read More</a>
                    </div>
                    <div class="grid_6 indent-sw1">
                        <h3 class="indent-bot2">Welcome to Our Company Website!</h3>
                        <p class="indent-bot2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero ero et accumsan et iusto odio dignissim qui blandit praesent.</p>
                        <div class="wrapper indent-bot4">
                            <figure class="img-border"><a href="#"><img src="images/page1-img1.jpg" alt=""><span></span></a></figure>
                            <div class="extra-wrap">
                                <div class="top-pad">
                                    <h5><a href="#">Sarah Smith</a></h5>
                                    <div class="text-1">Team Leader</div>
                                </div>
                            </div>
                        </div>
                        <h3 class="p3">Recent Solutions</h3>
                        <div class="wrapper border-3 bot-pad p3">
                            <figure class="img-border"><a href="#"><img src="images/page1-img2.jpg" alt=""><span></span></a></figure>
                            <div class="extra-wrap overflow-sw1">
                                <h5><a href="#">Starting Up</a></h5>
                                <p class="indent-bot">Etuer adipiscing elit, sed diam nonumy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                                <a class="button" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="wrapper">
                            <figure class="img-border"><a href="#"><img src="images/page1-img3.jpg" alt=""><span></span></a></figure>
                            <div class="extra-wrap overflow-sw1">
                                <h5><a href="#">Development Solutions</a></h5>
                                <p class="indent-bot">Etuer adipiscing elit, sed diam nonumy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</p>
                                <a class="button" href="#">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="grid_3">
                        <h3 class="p3">Meet Our Team</h3>
                        <div class="wrapper">
	                        <div class="border-3 bot-pad p3 width-sw1 indent-sw4 float-sw1">
	                            <div class="wrapper">
	                                <figure class="img-border"><a href="#"><img src="images/page1-img4.jpg" alt=""><span></span></a></figure>
	                                <div class="extra-wrap extra-wrap-sw">
	                                    <div class="top-pad">
	                                        <h5><a href="#">Tom Brown</a></h5>
	                                        <div class="text-1">Consultation</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="border-3 bot-pad p3 width-sw1 float-sw1">
	                            <div class="wrapper">
	                                <figure class="img-border"><a href="#"><img src="images/page1-img5.jpg" alt=""><span></span></a></figure>
	                                <div class="extra-wrap extra-wrap-sw">
	                                    <div class="top-pad">
	                                        <h5><a href="#">Pete Smith</a></h5>
	                                        <div class="text-1">New Technologies</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                        <div class="wrapper">
	                        <div class="border-3 bot-pad p3 width-sw1 indent-sw4 float-sw1">
	                            <div class="wrapper">
	                                <figure class="img-border"><a href="#"><img src="images/page1-img6.jpg" alt=""><span></span></a></figure>
	                                <div class="extra-wrap extra-wrap-sw">
	                                    <div class="top-pad">
	                                        <h5><a href="#">John Jameson</a></h5>
	                                        <div class="text-1">Sales &amp; Marketing</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
	                        <div class="border-3 bot-pad p3 width-sw1 float-sw1">
	                            <div class="wrapper">
	                                <figure class="img-border"><a href="#"><img src="images/page1-img7.jpg" alt=""><span></span></a></figure>
	                                <div class="extra-wrap extra-wrap-sw">
	                                    <div class="top-pad">
	                                        <h5><a href="#">Alice Johnson</a></h5>
	                                        <div class="text-1">Support</div>
	                                    </div>
	                                </div>
	                            </div>
	                        </div>
                        </div>
                        <a class="button" href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
	<!--==============================footer=================================-->
    <footer>
    	<div class="footer-border">
            <div class="container_12">
                <div class="wrapper">
                    <div class="grid_12">
                        <div class="footer-content">
                            <!--#include file="../../../includes/powered-by.inc" --> | <a href="index-4.html">Privacy Policy</a>
                            <div><!-- {%FOOTER_LINK} --></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--#include file="../../../includes/ContentPageEnd.inc" -->
</body>
</html>
