<!--#include file="../../../includes/GetContent.inc" -->
<!DOCTYPE html>
<html lang="en">
<head>
<!--#include file="../../../includes/ContentHead.inc" -->
<!--#include file="../../../includes/ContentJscripts.inc" -->
<title>Privacy Policy</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/script.js"></script>
<script src="js/forms.js"></script>
<script src="js/superfish.js"></script>
<script src="js/FF-cash.js"></script>
<script src="js/jquery.responsivemenu.js"></script>
<script>
$(function(){
	$('#contact-form').forms({ownerEmail:'#'})
})
</script>
<!--[if lt IE 8]>
   <div style=' clear: both; text-align:center; position: relative;'>
     <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
       <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
  </div>
<![endif]-->
<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<link rel="stylesheet" href="css/ie.css"> 
<![endif]-->
</head>
<body>
<!-- header -->
<header>
<div class="bg-header">
<div class="bg-header2">
	<div class="container_12 z99">
		<div class="grid_12 padheader">
			<h1 class="fleft"><a href="index.html">Rich Harvest</a></h1>
			<ul class="sf-menu">
				<li><a href="index.html">Home<span>Welcome Page</span></a><strong></strong></li>
				<li><strong></strong><a href="index-1.html">about<span>Who We Are</span><span class="arrow"></span></a><ul>
						<li><em></em><a href="#">Our Pledge</a><ul>
								<li><a href="#">Respect</a><em></em></li>
								<li><a href="#">Benefits</a><em></em></li>
								<li><a href="#">Transparency</a><em></em></li>
								<li><a href="#">Dialogue</a></li>
							</ul>
						</li>
						<li><a href="#">Company Leadership</a><em></em></li>
						<li><a href="#">Corporate Governance</a><em></em></li>
						<li><a href="#">Company History</a></li>
					</ul>
				</li>
				<li><a href="index-2.html">products<span>Our Products</span></a><strong></strong></li>
				<li><a href="index-3.html">services<span>Our Capabilities</span></a><strong></strong></li>
				<li><a href="index-4.html">contacts<span>Stay In Touch</span></a></li>
			</ul>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="header-line"></div>
</div>
</div>
</header>
<!-- content -->
<div class="container_12">
	<section>
		<div class="wrapper">
			<div class="grid_12 alpha omega">
				<div class="padleft padright">
					<h2 class="padtop33 margbot2">Privacy Policy</h2>
				</div>
			</div>
		</div>
		<div class="wrapper padbot33">
			<div class="grid_9 alpha">
				<div class="padleft">
					<a href="#" class="button1">Praesent vestibulum molestie lacus aenean nonummy hendrerit mauris phasellus porta</a>
					<p class="padbot4">Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p> 
					<a href="#" class="button1">Quisque nulla vestibulum libero nisl porta vel scelerisque eget malesuada at neque</a>
					<p class="padbot4">Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna hendrerit sit amet tincidunt ac viverra se nulla. Donec porta diam massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Proin ullamcorper urna et felis. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor.</p>
					<a href="#" class="button1">Aliquam congue fermentum nisl mauris accumsan nulla vel diam sed in lacus ut enim adipiscing</a>
					<p class="padbot4">In pede mi aliquet sit amet euismod in auctor ut ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor lobortis quis lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p> 
					<a href="#" class="button1">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam</a>
					<p class="padbot4">Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat.</p> 
					<p class="padbot4">Quisque nulla. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae.</p>
					E-mail: <a href="#" class="color2">info@demolink.org</a>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- footer -->
<footer>
	<div class="container_12">
		<div class="wrapper">
			<div class="grid_12">
				<!--#include file="../../../includes/powered-by.inc" --> | <a href="index-5.html">Privacy Policy</a>
			</div>
		</div>
	</div>
</footer>  
<!--#include file="../../../includes/ContentPageEnd.inc" -->
</body>
</html>
