
<!DOCTYPE html>
<html lang="en">
<head>

<title>Home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
<script src="js/jquery-1.7.1.min.js"></script>
<script src="js/script.js"></script>
<script src="js/superfish.js"></script>
<script src="js/FF-cash.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/jquery.elastislide.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.responsivemenu.js"></script>
<!--[if lt IE 8]>
   <div style=' clear: both; text-align:center; position: relative;'>
     <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
       <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
    </a>
  </div>
<![endif]-->
<!--[if lt IE 9]>
	<script src="js/html5.js"></script>
	<link rel="stylesheet" href="css/ie.css"> 
<![endif]-->

 <script>
		function showHidden(){
			uName = document.getElementById("username");
			pWord = document.getElementById("password");
			
			uName.style.visibility = "visible";
			pWord.style.visibility = "visible";
		}
	</script>
</head>
<body id="page1">
<!-- header -->
<header>
<div class="bg-header">
<div class="bg-header2">
	<div class="container_12 z99">
		<div class="grid_12">
			<h1 class="fleft"><a href="index.html">Rich Harvest</a></h1>
			<ul class="sf-menu">
				<li class="current"><a href="index.html">Home<span>Welcome Page</span></a><strong></strong></li>
				<li><strong></strong><a href="index-1.html">about<span>Who We Are</span><span class="arrow"></span></a><ul>
						<li><em></em><a href="#">Our Pledge</a><ul>
								<li><a href="#">Respect</a><em></em></li>
								<li><a href="#">Benefits</a><em></em></li>
								<li><a href="#">Transparency</a><em></em></li>
								<li><a href="#">Dialogue</a></li>
							</ul>
						</li>
						<li><a href="#">Company Leadership</a><em></em></li>
						<li><a href="#">Corporate Governance</a><em></em></li>
						<li><a href="#">Company History</a></li>
					</ul>
				</li>
				<li><a href="index-2.html">products<span>Our Products</span></a><strong></strong></li>
				<li><a href="index-3.html">services<span>Our Capabilities</span></a><strong></strong></li>
				<li><a href="index-4.html">contacts<span>Stay In Touch</span></a></li>
			</ul>
            
       
            	
                
			<div class="clear"></div>
            
		</div>
		<div class="clear"></div>
	</div>
	<div class="slider">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="images/slide1.jpg" alt=""></li>
				<li><img src="images/slide2.jpg" alt=""></li>
				<li><img src="images/slide3.jpg" alt=""></li>
				<li><img src="images/slide4.jpg" alt=""></li>
				<li><img src="images/slide5.jpg" alt=""></li>
			</ul>
		</div>
	</div>
</div>
</div>
</header>
<!-- content -->
<div class="container_12">
	<section>
		<div class="wrapper">
			<div class="grid_8 alpha">
				<div class="lineV padbot3">
					<div class="padleft">
						<h1 class="padtop">Welcome!</h1>
						<h4>We want to raise your crops and livestock!</h4>
						<div class="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum
my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliqui.</div>
						<div class="wrapper">
							<div class="fright text1">“ Integrity is the<br>
							foundation for all <br>
							that we do. “</div>
							<div class="extra-wrap">Lorem ipsum dolor sit amet, consectetuer ad
ipiscing elit, sed diam nonumy nibh euismod tincidun laoreet dolore magna aliquam erat volutpt. Ut wis
ad minim veniam, quisostrud exerci tationullamcorpr
uscipitlobortis nisl ut aliquip ex ecommodo conse
quat. Duis autem vel eum iriure.</div>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonum
my nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad
minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip.</p>
						<h2 class="padtop2">Create a Great Place to Work</h2>
						<div class="">
							<div class="box-img fleft img1"><img src="images/1page_img1.png" alt=""></div>
							<div class="extra-wrap pad">
								<p class="padbot">Lorem ipsum dolor sit amet, consectetuei
piscing elit, sed diam nonummy nibh euismodinciduntt laoreet dolore magna aliquam erat utpat Ut wisi enima
dminim veniam, quis nostrudxerci tation ullamco
rper suscipit lobortis nisl ut aliqui.</p>
								<a href="#" class="button">Continue Reading<span></span></a>
							</div>
							<div class="clear"></div>
						</div>
						<h2 class="padtop22">Our Gallery</h2>
						<div id="carousel" class="es-carousel-wrapper">
							<div class="es-carousel">
								<ul>
									<li><img src="images/1page_img2.png" alt=""></li>
									<li><img src="images/1page_img3.png" alt=""></li>
									<li><img src="images/1page_img4.png" alt=""></li>
									<li><img src="images/1page_img5.png" alt=""></li>
									<li><img src="images/1page_img6.png" alt=""></li>
									<li><img src="images/1page_img2.png" alt=""></li>
									<li><img src="images/1page_img3.png" alt=""></li>
									<li><img src="images/1page_img4.png" alt=""></li>
									<li><img src="images/1page_img5.png" alt=""></li>
									<li><img src="images/1page_img6.png" alt=""></li>
									<li><img src="images/1page_img2.png" alt=""></li>
									<li><img src="images/1page_img3.png" alt=""></li>
									<li><img src="images/1page_img4.png" alt=""></li>
									<li><img src="images/1page_img5.png" alt=""></li>
									<li><img src="images/1page_img6.png" alt=""></li>
								</ul>
							</div>
						</div>
						<h6>Prescriptive Solutions</h6>
						<p class="padbot">Lorem ipsum dolor sit amet, consectetueipiscing elit, sed diam nonummy nibh euismo
dincidunt laoreet dolore magna aliquam erat utpat Ut wisi enimadminim veniam, quis nostrudxerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea comm.</p>
						<a href="#" class="button">Continue Reading<span></span></a>
					</div>
				</div>
			</div>
			<div class="grid_4 omega">
				<div class="padright">
					<h3 class="padtop3 margbot">Who We Are</h3>
					<div class="box bg1">
						<img src="images/1page_img10.png" alt="" class="fleft">
						<h1>Integrity</h1>
						<a href="#">Read More<span></span></a>
					</div>
					<div class="box bg2">
						<img src="images/1page_img11.png" alt="" class="fleft">
						<h1>Dialogue</h1>
						<a href="#">Read More<span></span></a>
					</div>
					<div class="box bg3">
						<img src="images/1page_img12.png" alt="" class="fleft">
						<h1>Benefits</h1>
						<a href="#">Read More<span></span></a>
					</div>
					<h3 class="padtop4">Latest From The Blog</h3>
					<p>Lorem ipsum dolor sit amconsectetueipiscing elit, sed diam nonummy nibh euismo.</p>
					<div class=" padbot2">
						<img src="images/1page_img7.png" alt="" class="fleft imgindent">
						<div class="extra-wrap">
							<p class="padbot">Lorem ipsum dolor sit am
							consectetueipiscing elit, sed diam nonummy nibh euismo
							dinciduntt laoreet dolore mag
							na aliquam erat.</p>
							<a href="#" class="button">Continue Reading<span></span></a>
						</div>
						<div class="clear"></div>
					</div>
					<div class=" padbot2">
						<img src="images/1page_img8.png" alt="" class="fleft imgindent">
						<div class="extra-wrap">
							<p class="padbot">Lorem ipsum dolor sit am
consectetueipiscing elit, sed diam nonummy nibh euismo
dinciduntt laoreet.</p>
							<a href="#" class="button">Continue Reading<span></span></a>
						</div>
						<div class="clear"></div>
					</div>
					<div class=" padbot2">
						<img src="images/1page_img9.png" alt="" class="fleft imgindent">
						<div class="extra-wrap">
							<p class="padbot">Lorem ipsum dolor sit am
consectetueipiscing elit, sed diam nonummy nibh euismo
dinciduntt laoreet dolore mag
na aliquam erat.</p>
							<a href="#" class="button">Continue Reading<span></span></a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- footer -->
<footer>
	<div class="container_12">
		<div class="wrapper">
			<div class="grid_12">
				<!--#include file="../../../includes/powered-by.inc" --> | <a href="index-5.html">Privacy Policy</a> <!-- {%FOOTER_LINK} -->
			</div>
		</div>
	</div>
</footer>  
<!--#include file="../../../includes/ContentPageEnd.inc" -->
</body>
</html>
