<!--#include file="../../../includes/GetContent.inc" -->
<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include file="../../../includes/ContentHead.inc" -->
	<!--#include file="../../../includes/ContentJscripts.inc" -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0" />
	<link rel="stylesheet" href="css/style.css" media="screen" />
	<link rel="icon" href="images/favicon.ico" />
	<link rel="shortcut icon" href="images/favicon.ico" />
	<script src="js/jquery-1.7.2.min.js"></script>
	<script src="js/superfish.js"></script>
	<script src="js/jquery.responsivemenu.js"></script>
	<script src="js/jquery.easing.1.3.js"></script>
	<script src="js/jquery.ui.totop.js"></script>
	<script src="js/jquery.backgroundPosition.js"></script>
	<script src="js/script.js"></script>
	<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<link rel="stylesheet" href="css/ie.css"> 
	<![endif]-->
</head>
<body id="page2" >
	<div class="container_12">
		<div class="wrapper">		
			<div class="grid_12">
				<!-- header -->
				<div class="row-1">
					<header>
						<h1><a href="index.html">Mitchell’s</a></h1>
						<!-- menu -->
						<nav>
							<ul class="sf-menu">
								<li><a href="index.html">Home</a></li>
								<li class="active"><a href="index-1.html">About</a>
									<ul>
										<li><a href="#">History</a></li>
										<li><a href="#">Partners</a></li>
									</ul>
								</li>
								<li><a href="index-2.html">Services</a></li>
								<li><a href="index-3.html">careers</a></li>
								<li class="last-child"><a href="index-4.html">Contact</a></li>
							</ul>		
						</nav><!-- end menu -->
					</header><!-- end header -->
					<div class="clear"></div>
				</div>
				<!-- content -->
				<section id="content">
					<div class="block-2 ident-bot-1">
						<div class="wrapper">
							<img class="rt-img-2" src="images/2page_img1.jpg" alt="" />
							<div class="block-2-3">
								<p class="slogan-2">We think <span>globally</span></p>
								<p class="ident-bot-7"><strong class="strong-1">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam.</strong></p>
								<p class="ident-bot-8">Consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore ster magna aliquam erat volutpat. Ut wisi enim ad minim veniam. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesqu.</p>
								<a class="button ident-bot-8" href="#">read more</a>
							</div>
						</div>
					</div>
					<div class="block-3">
						<div class="wrapper">
							<div class="grid_4 alpha rt-ident-bottom-1">
								<div class="ident-4">
									<div class="wrapper ident-top-2 ident-bot-12">
										<h2 class="ident-bot-5">Why Choose Us</h2>
										<div class="wrapper ident-bot-2">
											<div class="number">1</div>
											<div class="extra-wrap">
												<p><strong><a href="#">Lorem ipsum dolor sit amet, con.</a></strong></p>
												<p>Sectetuer adipiscing elit. Sed dia nonummy nibh euismod.</p>
											</div>
										</div>
										<div class="line ident-bot-11"></div>
										<div class="wrapper ident-bot-2">
											<div class="number">2</div>
											<div class="extra-wrap">
												<p><strong><a href="#">Dolor sit amet, con ster psoe ste.</a></strong></p>
												<p>Sectetuer adipiscing elit. Sed dia nonummy nibh euismod.</p>
											</div>
										</div>
										<div class="line ident-bot-11"></div>
										<div class="wrapper">
											<div class="number">3</div>
											<div class="extra-wrap">
												<p><strong><a href="#">Lorem ipsum dolor sit amet, con.</a></strong></p>
												<p>Sectetuer adipiscing elit. Sed dia nonummy nibh euismod.</p>
											</div>
										</div>
									</div>
									<div>
										<h2 class="ident-bot-13">Testimonials</h2>
										<div class="ident-bot-15">
											<div class="test-1 ident-bot-14">
												<p class="quote">Lorem ipsum dolor sit amet, seres conser stres ect etuer adipiscing at elit, sed diamse onmy nibh euisser mod tincidunt uterse laoreet lores magna aliqua. Loreme.</p>
											</div>
											<p class="text-4 fright"><strong>Sam Kromstain</strong></p>
											<div class="clear"></div>
										</div>
										<div>
											<div class="test-1 ident-bot-14">
												<p class="quote">Lorem ipsum dolor sit amet, seres conser stres ect etuer adipiscing at elit, sed diamse onmy nibh euisser mod tincidunt uterse laoreet lores magna aliqua. Loreme.</p>
											</div>
											<p class="text-4 fright"><strong>Camala Haddon</strong></p>
											<div class="clear"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="grid_8 omega">
								<div class="ident-5">
									<div class="wrapper ident-top-2 ident-bot-9">
										<h2 class="ident-bot-5">Our Mission</h2>
										<p class="ident-bot-6"><strong>Sum dolor sit amet, con Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetue adipiscing elit. Pellentesque sed dolor. Aliquam congue ferme.</strong></p>
										<p class="ident-bot-8">Sectetuer adipiscing elit. Sed diam nonummy nibh euismod. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentu nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In ped mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tinc.</p>
										<a class="button" href="#">read more</a>
									</div>
									<div class="wrapper">
										<h2 class="ident-bot-10">Meet Our Work Team</h2>
										<ul class="list-4">
											<li>
												<img class="ident-bot-2" src="images/2page_img2.jpg" alt="" />
												<p><strong><a href="#">Helen Tompson</a></strong></p>
												<p>Dtoaureru moms oder lroe port srenese<a class="link-3" href="#">...</a></p>
											</li>
											<li>
												<img class="ident-bot-2" src="images/2page_img3.jpg" alt="" />
												<p><strong><a href="#">John Franklin</a></strong></p>
												<p>Dtoaureru moms oder lroe port srenese<a class="link-3" href="#">...</a></p>
											</li>
											<li class="rt-right-ident-1">
												<img class="ident-bot-2" src="images/2page_img4.jpg" alt="" />
												<p><strong><a href="#">Laura Stegner</a></strong></p>
												<p>Dtoaureru moms oder lroe port srenese<a class="link-3" href="#">...</a></p>
											</li>
											<li class="rt-right-ident-2">
												<img class="ident-bot-2" src="images/2page_img5.jpg" alt="" />
												<p><strong><a href="#">Julia Berzkalna</a></strong></p>
												<p>Dtoaureru moms oder lroe port srenese<a class="link-3" href="#">...</a></p>
											</li>
											<li>
												<img class="ident-bot-2" src="images/2page_img6.jpg" alt="" />
												<p><strong><a href="#">Alan Smith</a></strong></p>
												<p>Dtoaureru moms oder lroe port srenese<a class="link-3" href="#">...</a></p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					
				</section><!-- end content -->
				
				<!-- footer -->
				<footer>
					<ul class="list-3">
						<li><a href="#" class="soc-icon-1"></a></li>
						<li><a href="#" class="soc-icon-2"></a></li>
						<li><a href="#" class="soc-icon-3"></a></li>
						<li><a href="#" class="soc-icon-4"></a></li>
					</ul>
					<div class="policy"><!--#include file="../../../includes/powered-by.inc" --> | <!-- #include file="../../../includes/Privacy-Policy.asp"--></div>
					<div class="clear"></div>
				</footer>
			</div>
		</div>
	</div>
    <!--#include file="../../../includes/ContentPageEnd.inc" -->
</body>
</html>