<!--#include file="../../../includes/GetContent.inc" -->
<!DOCTYPE html>
<html lang="en">
<head>
<!--#include file="../../../includes/ContentHead.inc" -->
<!--#include file="../../../includes/ContentJscripts.inc" -->
    <title>Designers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
    <script src="js/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="js/superfish.js" type="text/javascript"></script>
    <script src="js/slides.min.jquery.js"></script>
    <script src="js/FF-cash.js" type="text/javascript"></script> 
    <script src="js/script.js" type="text/javascript"></script>       
    <script src="js/jquery.hoverIntent.js" type="text/javascript"></script>
<script src="js/jquery.responsivemenu.js"></script>

    <!--[if lt IE 8]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
             <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
            </a>
        </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
	<![endif]-->
</head>
<body id="page2" >
	<!--==============================header=================================-->
    <header>
        <div class="container_12">
            <div class="grid_12">
                <h1><a href="index.html">Fashion BRAND</a></h1>
                <nav id="main-menu">
                    <ul class="menu responsive-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a class="active" href="index-1.html">designers</a></li>
                        <li><a href="index-2.html">collections<span></span></a>
                            <ul>
                                <li><a href="#">Blouses</a></li>
                                <li><a href="#">Collared</a></li>
                                <li><a href="#">Knit Tops</a></li>
                                <li><a href="#">Sweaters</a></li>
                            </ul>
                        </li>
                        <li><a href="index-3.html">style</a></li>
                        <li><a href="index-4.html">Contacts</a></li>
                    </ul>
                    <div class="clear"></div>
                </nav>
                <div id="slides">
                    <div class="slider-bg">
                        <div class="slides_container">
                            <div class="slide"><img src="images/image-1.jpg" alt=""></div>
                            <div class="slide"><img src="images/image-2.jpg" alt=""></div>
                            <div class="slide"><img src="images/image-3.jpg" alt=""></div>
                            <div class="slide"><img src="images/image-4.jpg" alt=""></div>
                            <div class="slide"><img src="images/image-5.jpg" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </header>
    
	<!--==============================content================================-->
    <section id="content">
        <div class="container_12">
            <div class="wrapper p3">
                <div class="grid_4">
                	<div class="indent-switch">
                        <div class="block">
                            <a class="arrow" href="#"></a>
                            <figure class="img-pos width-2"><a href="#"><img src="images/img2.jpg" alt=""></a></figure>
                            <div class="block-text">
                                <div class="block-title">autumn <span>Collection</span></div>
                                <p class="color-3 text-1 p0">ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br />tempor incididunt</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid_8">
                    <h3 class="border-1 bot-pad indent-bot">Our Designer</h3>
                    <h4 class="bot-indent">Mark Johnsons</h4>
                    <p class="indent-bot2">Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut sere labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ser ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure. Dolor sit pot amet, consectetur adipisicing elit, sed do eiusmod tempo.</p>
                    <div class="wrapper">
                        <figure class="img-pos img-style"><img src="images/page2-img2.jpg" alt="" /></figure>
                        <div class="extra-wrap">
                            <div class="top-pad">
                                <p class="indent-bot2">or sit amet, consectetur adipisicing elit, sed do eius mod tempor incididunt ut sere labore et dolore ser magna aliqua. Ut enim ad minim veniam. quis nostrud exercitation ser ullamco laboris nisi.</p>
                                <a class="button" href="#">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrapper">
                <div class="grid_12">
                    <h3 class="border-1 bot-pad indent-bot2">Designer&rsquo;s  Advices</h3>
                    <div class="wrapper">
                        <div class="alpha grid_4">
                        	<div class="indent-switch2">
                                <figure class="fleft indent-r"><img src="images/pic1.png" alt="" /></figure>
                                <h5 class="bot-indent">orem ipsum dolor sit</h5>
                                <p class="indent-bot3 indent-switch">sectetur adipisicing elit, sed do eiusmod tempor incid. <br />idunt ut labore et dolore mag sre mnaet. na aliqua. Ut enim ad minim veniam, quis nos trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p>
                                <a class="button" href="#">read more</a>
                            </div>
                        </div>
                        <div class="grid_4">
                        	<div class="indent-switch2">
                                <figure class="fleft indent-r"><img src="images/pic2.png" alt="" /></figure>
                                <h5 class="bot-indent">sum dolor sit porste</h5>
                                <p class="indent-bot3 indent-switch">tetur adipisicing elit, sed do eius mod tempor incid potr.  <br />idunt ut labore et dolore mag sre mnaet. na aliqua. Ut enim ad minim veniam, quis nos trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p>
                                <a class="button" href="#">read more</a>
                            </div>
                        </div>
                        <div class="grid_4 omega">
                            <figure class="fleft indent-r"><img src="images/pic3.png" alt="" /></figure>
                            <h5 class="bot-indent">lore ipsum dolor sit</h5>
                            <p class="indent-bot3 indent-switch">tetur adipisicing elit, sed do eius mod tempor incid rese. <br />idunt ut labore et dolore mag sre mnaet. na aliqua. Ut enim ad minim veniam, quis nos trud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in</p>
                            <a class="button" href="#">read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
	<!--==============================footer=================================-->
    <footer>
        <div class="container_12">
            <div class="wrapper">
                <div class="grid_12">
                    <div class="footer-inner">
                        <!--#include file="../../../includes/powered-by.inc" --> ||<span><a href="index-5.html">Privacy Policy</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--#include file="../../../includes/ContentPageEnd.inc" -->
</body>
</html>
