
/* line 5, ../sass/_6.layout.scss */
#header .logo h1 {
  background: url("../images/logo.png");
  height: 74px;
  text-indent: -9999px;
  width: 165px;
}

/* 165 75 */
/* line 12, ../sass/_6.layout.scss */
#header .nav li a:hover {
  background: none;
  color: #595959;
}

/* line 17, ../sass/_6.layout.scss */
#header .black-bar {
  background: #000000;
  height: 4px;
}

/* line 22, ../sass/_6.layout.scss */
#header .navigation-bar {
  display: none;
  background: #000000;
}

/* line 27, ../sass/_6.layout.scss */
#header .navigation-bar .nav {
  float: right;
  padding-right: 10px;
}

/* line 32, ../sass/_6.layout.scss */
#header .navigation-bar .nav > li {
  float: left;
}

/* line 36, ../sass/_6.layout.scss */
#header .navigation-bar .nav > li > a {
  padding: 7px;
  color: #ffffff;
  font-family: 'Arial';
  font-size: 12px;
  text-transform: uppercase;
}

/* line 44, ../sass/_6.layout.scss */
#header .navigation-bar > .container > ul.nav > li {
  display: inline-block;
}

/* 	------------------------------------------------
	Content
	------------------------------------------------ */
/* line 55, ../sass/_6.layout.scss */
#content {
  background: #ebf2f8;
}

/* line 59, ../sass/_6.layout.scss */
#content h1 {
  text-align: center;
  padding: 20px;
  font: 100 48px Roboto;
}

/* line 65, ../sass/_6.layout.scss */
#content h3 {
  font: 100 24px Roboto;
  color: #2390c8;
  padding-top: 25px;
}

/* line 71, ../sass/_6.layout.scss */
#content .templates {
  text-align: center;
}

/* line 75, ../sass/_6.layout.scss */
#content .templates div.template-thumbnail {
  display: inline-block;
  border: 10px solid #000;
  border-radius: 7px;
  margin: 10px;
  position: relative;
}

/* line 83, ../sass/_6.layout.scss */
#content .templates div.template-thumbnail:before {
  background: url("../images/sml-template-overlay.png");
  content: '';
  display: block;
  height: 146px;
  left: 70px;
  position: absolute;
  width: 229px;
}

/* line 97, ../sass/_6.layout.scss */
#content .templates ul {
  padding: 0;
  margin: 0;
}

/* line 101, ../sass/_6.layout.scss */
#content .templates ul li, #content .preview-header ul li, #template-demo .demo-header ul li {
  display: inline;
}

/* line 108, ../sass/_6.layout.scss */
#content .templates li a:hover,
#content .preview-header li a:hover,
#template-demo .demo-header li a:hover {
  text-decoration: none;
}

/* line 113, ../sass/_6.layout.scss */
#content .preview-template img,
#template-demo .demo-template img {
  width: 100%;
}

/* line 117, ../sass/_6.layout.scss */
#content .template-preview {
  margin: 0 auto;
  width: 81.9%;
}

/* line 121, ../sass/_6.layout.scss */
#content .preview-template {
  border: 5px solid #000;
}

/* line 124, ../sass/_6.layout.scss */
#content .preview-header {
  width: 370px;
  height: 42px;
  background-color: #000;
  margin-right: 0;
  margin-left: auto;
  padding: 6px;
}

/* line 132, ../sass/_6.layout.scss */
#content .preview-header ul, #template-demo .demo-header ul {
  padding: 0;
  margin: 0;
}

/* line 136, ../sass/_6.layout.scss */
#content .preview-header li, #template-demo .demo-header li {
  padding: 0 5px;
}

/* line 139, ../sass/_6.layout.scss */
#content .preview-header li a, #template-demo .demo-header li a {
  font: bold 14px Arial;
  color: #ffffff;
  padding-left: 45px;
  height: 30px;
  display: inline-block;
  line-height: 30px;
}

/* line 147, ../sass/_6.layout.scss */
#content .preview-header li .demo {
  background: url("../images/lrg-template-preview.png") no-repeat;
}

/* line 150, ../sass/_6.layout.scss */
#content .preview-header li .select {
  background: url("../images/lrg-template-select.png") no-repeat;
}

/* line 153, ../sass/_6.layout.scss */
#content .preview-header li .close-preview {
  padding-left: 15px;
  font: bold 24px Arial;
  color: #2892ca;
}

/* 	------------------------------------------------
	Form Layout Styles
	------------------------------------------------ */
/* line 164, ../sass/_6.layout.scss */
.row > div > input {
  width: 100%;
}

/* line 168, ../sass/_6.layout.scss */
.row > div > label {
  line-height: 40px;
}

/* line 175, ../sass/_6.layout.scss */
#blurb {
  padding: 25px 0 0 0;
  text-align: center;
}

/* line 179, ../sass/_6.layout.scss */
#blurb p {
  color: #222222;
  font: 100 24px Roboto;
}

/* line 183, ../sass/_6.layout.scss */
#blurb p small {
  color: #222222;
  font: 14px Arial;
  display: block;
}

/* line 190, ../sass/_6.layout.scss */
#cloud {
  padding: 0;
}

/* 	------------------------------------------------
	Footer
	------------------------------------------------ */
/* line 203, ../sass/_6.layout.scss */
#footer {
  background-color: #3F3F3F;
  padding-bottom: 25px;
}

/* line 207, ../sass/_6.layout.scss */
#footer h2 {
  font: 100 24px Roboto;
  color: #7f7f7f;
  text-shadow: 1px 1px 1px #000000;
}

/* line 212, ../sass/_6.layout.scss */
#footer .build-site {
  margin-top: 45px;
}

/* line 215, ../sass/_6.layout.scss */
#footer ul {
  padding-left: 20px;
}

/* line 218, ../sass/_6.layout.scss */
#footer li {
  color: #cccccc;
  font-size: 11px;
}

/* line 222, ../sass/_6.layout.scss */
#footer li a {
  color: #cccccc;
  text-decoration: none;
}

/* 	------------------------------------------------
	Loading Modal
	------------------------------------------------ */
/* line 10, ../sass/_7.common.scss */
.loading-modal {
  background: url("../images/build-throbber.gif") rgba(255, 255, 255, 0.75) no-repeat;
  background-position-x: center;
  background-position-y: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}

/* 	------------------------------------------------
	Messages
	------------------------------------------------ */
/* line 30, ../sass/_7.common.scss */
.message {
  padding: 10px;
  border: 1px solid #e6e6e6;
  text-align: center;
  font-weight: bold;
  color: #000;
  background-color: #F6F6F6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 46, ../sass/_7.common.scss */
.message.warning {
  color: #EE7F05;
  border-color: #DDB78D;
  background-color: #F3ECE1;
}

/* 	------------------------------------------------
	Demo Overlay
	------------------------------------------------ */
/* line 655, ../sass/_8.components.scss */
.demo-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
}
/* line 674, ../sass/_8.components.scss */
.demo-overlay .top-bar {
  height: 51px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
}
/* line 681, ../sass/_8.components.scss */
.demo-overlay .top-bar > div {
  display: inline-block;
}
/* line 683, ../sass/_8.components.scss */
.demo-overlay .top-bar > .left {
  float: left;
  text-align: left;
}
/* line 688, ../sass/_8.components.scss */
.demo-overlay .top-bar > .left > a {
  float: left;
}
/* line 692, ../sass/_8.components.scss */
.demo-overlay .top-bar > .right {
  float: right;
  text-align: right;
}
/* line 697, ../sass/_8.components.scss */
.demo-overlay .top-bar > .right > a {
  float: right;
}
/* line 703, ../sass/_8.components.scss */
.demo-overlay .demo-content {
  width: 100%;
  height: 100%;
  background: url(../images/ajax-loader.gif) rgba(0, 0, 0, 0.5) no-repeat center;
}
/* line 710, ../sass/_8.components.scss */
.demo-overlay .demo-content .overlay-iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* line 723, ../sass/_8.components.scss */
.modal-dialog .loading-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: rgba(255, 255, 255, 0.75);
}

/* line 736, ../sass/_8.components.scss */
.modal-dialog .loading-overlay .thankyou {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 51;
  width: 300px;
  height: 100px;
  margin: auto;
}
/* line 749, ../sass/_8.components.scss */
.modal-dialog .loading-overlay .thankyou p {
  font-weight: bold;
}

/* line 753, ../sass/_8.components.scss */
.modal-dialog .loading-overlay .throbber {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 52;
  background: url("../images/build-throbber.gif") white no-repeat center;
}




/* 	------------------------------------------------
	Template Demo
	------------------------------------------------ */
/* line 308, ../sass/_9a.home.scss */
#template-demo .expander {
  top: 50px;
}

/* line 311, ../sass/_9a.home.scss */
#template-demo .demo-header {
  background: #000;
  padding: 15px;
  text-align: center;
}

/* line 316, ../sass/_9a.home.scss */
#template-demo .demo-header li a {
  font: bold 14px Arial;
  color: #ffffff;
  padding-left: 25px;
  height: 30px;
  display: inline-block;
  line-height: 22px;
}











@media (min-width: 992px) {
  /* line 174, ../sass/_9c.step2.scss */
  .PricingPlans {
    margin-top: 20px;
    padding-bottom: 20px;
    margin-left: 30px;
  }
  /* line 179, ../sass/_9c.step2.scss */
  .PricingPlans .PricingPlan {
    margin: 0;
    min-height: 450px;
    max-width: 220px;
    float: left;
  }
  /* line 184, ../sass/_9c.step2.scss */
  .PricingPlans .PricingPlan .PricingPlanAction {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  /* line 191, ../sass/_9c.step2.scss */
  .PricingPlans .PricingPlan#PricingPlanFree, .PricingPlans .PricingPlan#PricingPlanYearly {
    margin-top: 20px;
  }
  /* line 194, ../sass/_9c.step2.scss */
  .PricingPlans .PricingPlan#PricingPlanMonthly {
    height: 490px;
  }
}
@media (min-width: 1200px) {
  /* line 205, ../sass/_9c.step2.scss */
  .PricingPlans {
    margin-left: 25px;
  }
}






/* line 215, ../sass/_9c.step2.scss */
.process input[type="radio"] {
  display: none;
}
/* line 223, ../sass/_9c.step2.scss */
.process .section {
  background: #fff;
  padding: 1em;
  margin-bottom: 2em;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
/* line 236, ../sass/_9c.step2.scss */
.process .selections {
  background: #f6f6f6;
  padding: 20px;
  list-style: none;
}
/* line 242, ../sass/_9c.step2.scss */
.process .selections li {
  margin-bottom: 10px;
  border: 1px dotted rgba(0, 0, 0, 0.1);
  vertical-align: top;
  background-color: #fff;
  position: relative;
  opacity: .75;
  border-left: 5px solid rgba(0, 0, 0, 0.25);
}
/* line 259, ../sass/_9c.step2.scss */
.process .selections li > label {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
/* line 268, ../sass/_9c.step2.scss */
.process .selections li span.title {
  font-weight: bold;
}
/* line 272, ../sass/_9c.step2.scss */
.process .selections li.selected {
  opacity: 1;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.25);
  border-left-color: #2198c7;
}
/* line 283, ../sass/_9c.step2.scss */
.process .selections li:hover {
  opacity: 1;
  cursor: pointer;
  border-color: rgba(0, 0, 0, 0.25);
  border-left-color: #2198c7;
}
/* line 291, ../sass/_9c.step2.scss */
.process .selections li:last-child {
  margin-bottom: 0;
}
/* line 299, ../sass/_9c.step2.scss */
.process .inner-form {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #e6e6e6;
  background-color: #f6f6f6;
}
/* line 311, ../sass/_9c.step2.scss */
.process .inner-form input[type="text"],
.process .inner-form input[type="email"],
.process .inner-form input[type="password"],
.process .inner-form textarea {
  background: #fff;
  border: 1px solid #ccc;
}
/* line 318, ../sass/_9c.step2.scss */
.process .inner-form label {
  color: #2198c7;
  font-weight: bold;
}
/* line 324, ../sass/_9c.step2.scss */
.process .details {
  margin-bottom: 20px;
}
/* line 328, ../sass/_9c.step2.scss */
.process .details input {
  display: block;
  width: 100%;
}
/* line 337, ../sass/_9c.step2.scss */
.process .proceed {
  margin: 0 auto;
  display: block;
}
/* line 342, ../sass/_9c.step2.scss */
.process .proceed-payment li {
  display: inline-block;
}
/* line 346, ../sass/_9c.step2.scss */
.process .proceed-payment li a {
  text-align: center;
  display: block;
  width: 150px;
  color: #222222;
  padding: 10px 0;
  text-decoration: underline;
}
/* line 359, ../sass/_9c.step2.scss */
.process .proceed-actions .action-buttons {
  padding-bottom: 10px;
}
/* line 365, ../sass/_9c.step2.scss */
.process .promo {
  padding: 0;
}
/* line 369, ../sass/_9c.step2.scss */
.process .promo span {
  display: block;
  padding: 5px 16px;
}
/* line 376, ../sass/_9c.step2.scss */
.process .promo small {
  display: block;
  background: #61AA54;
  padding: 5px 16px;
}
/* line 386, ../sass/_9c.step2.scss */
.process .row.subdomain {
  padding: 10px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  background: #fafafa;
}
/* line 393, ../sass/_9c.step2.scss */
.process .row.subdomain .SubdomainLabel {
  color: #228FC8 !important;
  font-size: 16px;
  font-weight: bold;
}
/* line 399, ../sass/_9c.step2.scss */
.process p.SubdomainLabel {
  padding-top: 10px;
}
/* line 403, ../sass/_9c.step2.scss */
.process .row.subdomain .form-group {
  margin-bottom: 0 !important;
}

/* line 410, ../sass/_9c.step2.scss */
.clarification-message span {
  color: #2198c7;
  font-weight: bold;
}

/* line 6, ../sass/_9d.step3.scss */
#step3 input[type="radio"] {
  display: inline-block;
}

/* line 18, ../sass/_9d.step3.scss */
.domain-search > input {
  width: 60%;
  margin-right: 0;
}
/* line 25, ../sass/_9d.step3.scss */
.domain-search span.dropdown-button {
  height: 50px;
  width: 100%;
  display: block;
}
/* line 31, ../sass/_9d.step3.scss */
.domain-search span.dropdown-button a.select-domain {
  display: block;
  width: 100%;
  position: relative;
  line-height: 10px;
  cursor: pointer;
}
/* line 42, ../sass/_9d.step3.scss */
.domain-search span.dropdown-button a.select-domain span.text {
  display: block;
  float: left;
}
/* line 52, ../sass/_9d.step3.scss */
.domain-search span.dropdown-button a.select-domain span.glyphicon {
  color: #2198c7;
  display: block;
  float: right;
}
/* line 66, ../sass/_9d.step3.scss */
.domain-search span.dropdown-button .selected-domain:before {
  content: ".";
}

/* line 74, ../sass/_9d.step3.scss */
.search-domain {
  display: block;
  width: 100%;
  text-align: center;
  height: 45px;
}
/* line 81, ../sass/_9d.step3.scss */
.search-domain > .glyphicon {
  display: inline-block;
  margin-right: 10px;
  float: right;
}
/* line 87, ../sass/_9d.step3.scss */
.search-domain > .text {
  color: #2198c7 !important;
  font-size: 14px !important;
  float: left;
  margin-left: 10px;
  display: inline-block;
}

/* line 98, ../sass/_9d.step3.scss */
.domain-name {
  width: 100%;
  height: 50px;
  margin: 0 !important;
}

/* line 107, ../sass/_9d.step3.scss */
.results {
  min-height: 200px;
  position: relative;
  margin-top: 1em;
  padding-bottom: 1em;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
}

/* line 118, ../sass/_9d.step3.scss */
.results-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background: url("../images/build-throbber.gif") no-repeat scroll center center white;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) inset;
}

/* line 137, ../sass/_9d.step3.scss */
#inner-form-free-subdomain input.username {
  width: 100%;
}

/* 	------------------------------------------------
	Domain Select
	------------------------------------------------ */
/* line 148, ../sass/_9d.step3.scss */
.dropdown-row {
  background-color: #222;
  position: relative;
  z-index: 100;
}

/* line 154, ../sass/_9d.step3.scss */
#domain-dropdown {
  background: #222;
}

/* line 161, ../sass/_9d.step3.scss */
.domain-dropdown > div {
  padding: 0 20px;
}
/* line 163, ../sass/_9d.step3.scss */
.domain-dropdown h3 {
  color: #fff !important;
  padding: 0 !important;
  margin: .5em 0 .5em 0 !important;
}
/* line 165, ../sass/_9d.step3.scss */
.domain-dropdown label {
  display: block;
  width: 100%;
  padding: .5em;
  color: #fff !important;
  cursor: pointer;
}
/* line 175, ../sass/_9d.step3.scss */
.domain-dropdown label:hover {
  background-color: #333;
}
/* line 179, ../sass/_9d.step3.scss */
.domain-dropdown label span {
  margin-left: 10px;
}

/* line 187, ../sass/_9d.step3.scss */
.www-label {
  display: block;
  font-weight: bold;
  text-align: center;
  height: 45px;
  line-height: 50px;
}

/* line 195, ../sass/_9d.step3.scss */
.domain-message {
  text-align: center;
  margin-top: 2em;
}
/* line 201, ../sass/_9d.step3.scss */
.domain-message .large {
  font-size: 18px;
  display: block;
}
/* line 206, ../sass/_9d.step3.scss */
.domain-message .back {
  text-align: center;
  text-decoration: underline;
  color: #000;
  font-weight: bold;
}

/* line 217, ../sass/_9d.step3.scss */
.domains {
  list-style-type: none;
  padding: 0;
}
/* line 222, ../sass/_9d.step3.scss */
.domains li label {
  background-color: #fff;
  display: block;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  height: 60px;
  padding: 20px;
  margin-bottom: -1px;
  cursor: pointer;
}
/* line 238, ../sass/_9d.step3.scss */
.domains li label > span.left {
  float: left;
}
/* line 239, ../sass/_9d.step3.scss */
.domains li label > span.right {
  float: right;
}
/* line 241, ../sass/_9d.step3.scss */
.domains li label input {
  margin-right: .5em;
}
/* line 243, ../sass/_9d.step3.scss */
.domains li label span.price {
  font-weight: bold;
}
/* line 245, ../sass/_9d.step3.scss */
.domains li label:hover {
  background-color: #ececec;
}
/* line 253, ../sass/_9d.step3.scss */
.domains li.alt label {
  background-color: #f8f8f8;
}
/* line 257, ../sass/_9d.step3.scss */
.domains li.alt label:hover {
  background-color: #ececec;
}
/* line 268, ../sass/_9d.step3.scss */
.domains input[type="radio"],
.domains input[type="checkbox"] {
  display: inline !important;
}

/* line 7, ../sass/_9e.step4.scss */
#content .sharing div.share-label {
  min-height: 40px;
  padding-left: 50px;
  margin: 0 10px 20px 10px;
  line-height: 20px;
}
/* line 14, ../sass/_9e.step4.scss */
#content .sharing div.share-email {
  background: url("../images/share-email.png") no-repeat;
}
/* line 15, ../sass/_9e.step4.scss */
#content .sharing div.share-social {
  background: url("../images/share-social.png") no-repeat;
}
/* line 17, ../sass/_9e.step4.scss */
#content .sharing .friends {
  width: 100%;
}
/* line 21, ../sass/_9e.step4.scss */
#content .sharing .friends input {
  width: 100%;
}
/* line 29, ../sass/_9e.step4.scss */
#content .sharing .invite {
  margin: 10px 0;
  text-align: left;
}
/* line 34, ../sass/_9e.step4.scss */
#content .sharing .invite button {
  display: inline-block;
  position: relative;
}
/* line 36, ../sass/_9e.step4.scss */
#content .sharing .invite button.invite span.spinner {
  display: block;
  width: 55px;
  height: 55px;
  position: absolute;
  right: -60px;
  top: -8px;
  background: url("../images/build-throbber.gif") rgba(255, 255, 255, 0.75) no-repeat;
}
/* line 55, ../sass/_9e.step4.scss */
#content .platforms {
  padding: 0;
}
/* line 59, ../sass/_9e.step4.scss */
#content .platforms a.social-link {
  display: block;
  height: 100px;
  padding: 20px 60px 20px 100px;
  position: relative;
  margin-bottom: 1px;
  color: #000;
  background-color: #eee;
  text-decoration: none;
}
/* line 73, ../sass/_9e.step4.scss */
#content .platforms a.social-link > .glyphicon {
  color: #218ec7;
  font-size: 36px;
  position: absolute;
  right: 25px;
  top: 30px;
}
/* line 81, ../sass/_9e.step4.scss */
#content .platforms a.social-link.facebook {
  background: #eeeeee url("../images/facebook.png") no-repeat;
  background-position-x: 35px;
  background-position-y: 20px;
}
/* line 86, ../sass/_9e.step4.scss */
#content .platforms a.social-link.facebook.shared {
  background: #eeeeee url("../images/facebook-shared.png") no-repeat;
  background-position-x: 35px;
  background-position-y: 20px;
  cursor: default;
}
/* line 95, ../sass/_9e.step4.scss */
#content .platforms a.social-link.twitter {
  background: #eeeeee url("../images/twitter.png") no-repeat;
  background-position-x: 20px;
  background-position-y: 20px;
}
/* line 100, ../sass/_9e.step4.scss */
#content .platforms a.social-link.twitter.shared {
  background: #eeeeee url("../images/twitter-shared.png") no-repeat;
  background-position-x: 20px;
  background-position-y: 20px;
  cursor: default;
}
/* line 109, ../sass/_9e.step4.scss */
#content .platforms a.social-link:hover {
  background-color: #ddd;
}
/* line 113, ../sass/_9e.step4.scss */
#content .platforms a.social-link em {
  text-decoration: underline;
  font-style: normal;
}

/* line 121, ../sass/_9e.step4.scss */
#content .go button {
  margin: 0 auto;
  display: block;
}

/* line 126, ../sass/_9e.step4.scss */
#content .payment-error {
  text-align: center;
}

/* line 130, ../sass/_9e.step4.scss */
#content .payment-error p {
  padding: 10px 0;
  margin: 0 auto;
}

/* line 135, ../sass/_9e.step4.scss */
#content .payment-error strong {
  font-size: 18px;
}

/* line 140, ../sass/_9e.step4.scss */
#content .payment-error textarea {
  border: 0;
  height: 100px;
  background: #eee;
  padding: 10px;
  margin-bottom: 20px;
}

/* line 148, ../sass/_9e.step4.scss */
.friends > div {
  position: relative;
}

/* line 150, ../sass/_9e.step4.scss */
.friends > div > label.error {
  display: block;
  line-height: 100% !important;
  margin: .5em !important;
  padding: .5em 1em !important;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: text;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 169, ../sass/_9e.step4.scss */
.friends > div > label.success {
  display: block;
  line-height: 100% !important;
  margin: .5em !important;
  padding: .5em 1em !important;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: text;
  color: #fff !important;
  background-color: #8CCF7F !important;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
