@import "compass/css3";
@import "_2.variables.scss";
@import "_3.mixins.scss";

.induction {

	h1 {
		margin-top: 0 !important;
		// margin-bottom: 1em !important;
		text-align:center !important;
	}

	h4 {
		text-align: center;
	}


}

.induction-progress-separator {
	color: #2d82bc;
	margin: 0 .5em;
}

body.page-induction-2 {

	.bs-callout  {
		h4 {
			margin-bottom: 0.75em;
		}
		p {
			margin-bottom: 0.75em;
			&:last-child {
				margin-bottom: 0;
			}
		}
		.panel {
			margin-bottom: 0;
		}
		.form-group input {
			margin: 0;
		}
	}

	.btn-lg {
		.glyphicon {
			font-size: 18px;
			position:relative;
			top: 3px;
		}
	}

}

body.page-induction-1 {

	.template { 
		
		position:relative;
		
		.template-wrapper {
			background: #fff;
			margin-bottom: 20px;
			border: 1px solid #e6e6e6;
			box-shadow: 0 0 5px rgba(0,0,0,.1);
			max-height: 300px;
			overflow: hidden;
			position:relative;
		}

		.template-image {
			position:relative;
			overflow:hidden;
			img {
				display: inline-block;
				min-width:100%; 
				width: 100%;
				min-height: 300px;
				background: #fafafa;
				border-bottom: 1px solid #e6e6e6;

				@include transition(opacity .3s ease-in-out);
			}
		}

		.template-content {
			padding: 2em 2em;
			color: $build-color-bodytext;
			h5 {
				margin-top: 0;
				color: #fff;
				font-family: "OpenSansLight";
				font-size: 1.6em;
				margin: 0;
				text-align:center;
			}
		}

		.template-over {
			
			display:block;
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			z-index: 10;
			padding: 20px;

			background: rgba(0,0,0,.75);

			opacity: 0;

			@include transition(opacity .3s ease-in-out);

			button {
				display:inline-block;
				margin-bottom: 10px;
				width: 100%;
			}

		}

		.template-actions {
			font-size: 1.2em;
		}

	}

	.template:hover {

		text-decoration: none;
		position:relative;

		.template-wrapper {
			// box-shadow: 0 0 5px rgba(0,0,0,.2);
		}

		.template-image {
			position:relative;
			img {
				// opacity: 0.5;
			}
			&:hover {
				display: block;
				width: 100%;
			}
		}

		.template-over {

			// display:block;
			
			opacity: 1;

			

		}

		&:after {

			

		}

	}

	.template-demo-frame {

		position:fixed;
		z-index: 10000;
		background: rgba(0,0,0,.8);
		width: 100%;
		height: 100%;

		.template-demo-frame-controls {
			position:relative;
			width: 100%;
			padding: 5px;
			border-bottom: 2px solid $build-color-blue;
			box-shadow: 0 0 10px rgba(0,0,0,.25);
			background: rgba(0,0,0,.8);
			.frame-controls-left {
				float:left;
			}
			.frame-controls-right {
				float:right;
			}
		}

		.template-demo-frame-iframe-container {
			width: 100%;
			height: 100%;
			.template-demo-frame-iframe {
				width:100%;
				height:100%;
				background-color: #fff
			}
		}

	}


	@media only screen and (max-width: 767px) {



	}

	@media only screen and (min-width: 767px) {



	}

	@media only screen and (min-width: 767px) and (max-width: 992px) {


	   
	}

	@media only screen and (min-width: 992px) {



	}

	@media only screen and (min-width: 992px) and (max-width: 1200px) {



	}

	@media only screen and (min-width: 1200px) {



	}

}

.pricingplan {

	position:relative;
	background: #fff;
	margin-bottom: 20px;

	@include box-shadow(0 0 5px rgba(0,0,0,.15));

	&:nth-child(1) {
		.pricingplan-title {
			background: $build-button-color-default;
			color: #fff;
		}
		.pricingplan-price {
			color: $build-button-color-default;
		}
	}
	&:nth-child(2) {
		.pricingplan-title {
			background: $build-button-color-primary;
			color: #fff;
		}
		.pricingplan-price {
			color: $build-button-color-primary;
		}
	}
	&:nth-child(3) {
		.pricingplan-title {
			background: $build-button-color-success;
			color: #fff;
		}
		.pricingplan-price {
			color: $build-button-color-success;
		}
	}
	&:nth-child(4) {
		.pricingplan-title {
			background: $build-button-color-info;
			color: #fff;
		}
		.pricingplan-price {
			color: $build-button-color-info;
		}
	}
	&:nth-child(5) {
		.pricingplan-title {
			background: $build-button-color-warning;
			color: #fff;
		}
		.pricingplan-price {
			color: $build-button-color-warning;
		}
	}
	&:nth-child(6) {
		.pricingplan-title {
			background: $build-button-color-danger;
			color: #fff;
		}
		.pricingplan-price {
			color: $build-button-color-danger;
		}
	}

	&.unselected {

		/*

		.pricingplan-title {
			background: #ddd;
		}

		.pricingplan-price {
			color: #ddd;
		}

		.pricingplan-action-button {
			background: #aaa;
			border-color: #aaa;
		}

		.pricingplan-action-button:hover,
		.pricingplan-action-button:focus {
			border-color: #999 !important;
			background: #999 !important;
		}

		*/

		.pricingplan-title {
		}

		.pricingplan-price {
		}

		.pricingplan-action-button {
		}

		.pricingplan-action-button:hover,
		.pricingplan-action-button:focus {
		}

	}

	&.selected {
		@include box-shadow(0 0 15px rgba($build-button-color-success, 0.75));
	}

	.pricingplan-description {
		text-align: center;
	}

	.pricingplan-title,
	.pricingplan-price-container,
	.pricingplan-permonth,
	.pricingplan-description,
	.pricingplan-price-action {
		padding: 0 20px;
	}

	.pricingplan-title {

		font-size: 24px;
		font-weight: 500;
		text-align: center;
		letter-spacing: -1px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #f2f2f2;
		background: #fbfbfb;
		@include text-shadow(0 0 5px rgba(0,0,0,.25));
		@include transition(0.25s background);
		font-weight: bold;

	}


	.pricingplan-price-container {

		text-align: center;
		letter-spacing: -1px;
		margin-bottom: 20px;
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #f2f2f2;

		.pricingplan-price-symbol,
		.pricingplan-price-amount {

			font-size: 32px;

		}

		.pricingplan-price {

			font-size: 24px;
			font-weight: bold;
			@include transition(0.25s color);

		}

		.pricingplan-price-permonth {

			font-size: 16px;
			text-align: center;
			font-style: italic;

		}

	}

	.pricingplan-action-description {
	
		font-style: italic;
		font-weight: bold;
		margin-bottom: 10px;
		text-align:center;
	
	}

	.pricingplan-action {

		text-align: center;
		padding: 0 20px 20px 20px;

		.pricingplan-action-button {
			@include transition(0.25s background border-color);
		}

	}


}





.pricingplan-container {
	position:relative;
}

.form-group .form-group {
	margin-bottom: 0 !important;
	overflow: hidden;
}




.payment-line {

	font-weight: 700;
	font-size: 1.1em;

	.payment-line-value {
		font-weight: 700;
	}
	.payment-line-amount {
		color: $build-button-color-success;
	}

	&.payment-line-total {
		.payment-line-label {
			color: #aaa;
		}
	}

	&.payment-line-coupon {
		.payment-line-value:before {
			content: "- ";
		}
		
	}

}


@media only screen and (min-width: 992px) {

	.pricingplan-container {
		@include display-flex;
		@include flex-flow(row wrap);
		@include align-content(center);
		@include justify-content(center);
		margin-top: 40px;
	}

	.pricingplan {

		width: 30%;
		// margin-left: 1%;
		// margin-right: 1%;

		@include display-flex;
		@include order(0);
		@include flex-grow(0);
		@include flex-shrink(1);
		@include flex-direction(column);
		@include align-items(center);
		

		.pricingplan-title,
		.pricingplan-price-container,
		.pricingplan-description,
		.pricingplan-action {
			width: 100%;	
		}

		&:nth-child(2) {
			@include transform(scale(1.05));
			z-index: 1;
		}

	}



	.pricingplan-action {
		margin-top: auto;
	}
		
}


@media only screen and (max-width: 767px) {



}

@media only screen and (min-width: 767px) {



}

@media only screen and (min-width: 767px) and (max-width: 992px) {


   
}

@media only screen and (min-width: 992px) {

	

}

@media only screen and (min-width: 992px) and (max-width: 1200px) {



}

@media only screen and (min-width: 1200px) {

	

}




.step {

	opacity: 0;
	display: none;

	@include transition-property(opacity, transform);
	@include transition-duration(0.5s);
	@include transition-timing-function(ease-in-out);

	&.step-transitioning {
		display:block;
	}

	&.step-position-left {
		transform: translateX(-50%);
	}

	&.step-position-right {
		transform: translateX(50%);
	}

	&.step-out {
		opacity: 0;
	}

	&.step-in {
		opacity: 1;
	}

	&.step-current {
		opacity: 1;
		display:block;
	}

	.step-actions {
		border-top: 1px solid #f2f2f2;
		margin: 40px -40px -40px -40px;
		background: #f7f7f7;
		padding: 20px;
	}

}