<!--#include file="../../../includes/GetContent.inc" -->
<!DOCTYPE html>
<html lang="en">
<head>
<!--#include file="../../../includes/ContentHead.inc" -->
<!--#include file="../../../includes/ContentJscripts.inc" -->
    <title>About Us</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
    <script src="js/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="js/cufon-yui.js" type="text/javascript"></script>
    <script src="js/cufon-replace.js" type="text/javascript"></script> 
    <script src="js/MgOpen_Moderna_400-MgOpen_Moderna_700.font.js" type="text/javascript"></script>
    <script src="js/superfish.js" type="text/javascript"></script>
    <script src="js/slides.min.jquery.js"></script>
    <script src="js/FF-cash.js" type="text/javascript"></script> 
    <script src="js/script.js" type="text/javascript"></script>
    <script src="js/jquery.hoverIntent.js" type="text/javascript"></script>
    
    <!--[if lt IE 8]>
        <div style=' clear: both; text-align:center; position: relative;'>
            <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
             <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
            </a>
        </div>
    <![endif]-->
    <!--[if lt IE 9]>
   		<script type="text/javascript" src="js/html5.js"></script>
        <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
	<![endif]-->
</head>
<body id="page5" >
	<div class="extra">
		<div class="bg">
			<!--==============================header=================================-->
		    <header>
		    	<div class="container_12">
	            	<div class="row-1">
		           		<a class="button1" href="#"><strong>get started</strong><span></span></a>
		            	<div class="grid_3">
				        	<h1><a href="index.html">Maneuver</a></h1>
		                </div>
		                <div class="grid_9">
				            <nav id="main-menu">
				                <ul class="menu responsive-menu">
				                    <li><a href="index.html">Home</a></li>
				                    <li><a href="index-1.html">Services</a>
	                                	<span></span>
	                                	<strong></strong>
		                            	<ul>
		                                	<li><a href="#">Overview</a></li>
		                                    <li><a href="#">Small Business</a>
		                                    	<ul>
		                                        	<li><a href="#">Starting up</a></li>
		                                            <li><a href="#">E-Commerce</a></li>
		                                            <li class="last"><a href="#">Online Marketing</a></li>
		                                        </ul>
		                                    </li>
		                                    <li class="last"><a href="#">Corporate</a></li>
		                                </ul>
		                            </li>
				                    <li><a href="index-2.html">Products</a></li>
				                    <li><a href="index-3.html">Partners</a></li>
				                    <li><a class="active" href="index-4.html">About Us</a></li>
				                    <li class="last"><a href="index-5.html">Contacts</a></li>
				                </ul>
		                        <div class="clear"></div>
				            </nav>
		                </div>
		                <div class="clear"></div>
	                </div>
		        </div>
	            <div class="slider">
	            	<div class="slider-bottom">
		            	<div class="slider-bg">
	                    	<div class="slider-h3">About Us</div>
	                    </div>
	                </div>
	            </div>
		    </header>
		    
			<!--==============================content================================-->
		    <section id="content">
	        	<div class="container_12">
	            	<div class="wrapper p6">
	                	<div class="grid_8">
	                    	<h3 class="indent-bot2">Everything is Possible</h3>
	                        <div class="wrapper">
	                        	<div class="alpha grid_4 indent-sw-1">
	                            	<div class="wrapper indent-bot2 indent-sw-1">
		                            	<div class="circle">1</div>
	                                    <div class="extra-wrap">Adipiscing elitu praesent vesti- blum molestiemen lacuse aenea nonummy hendrerit maurhasell porta. Fusce suscipit varius mi cum sociise natoque penatibuse magnis disempa rturient.</div>
	                                </div>
	                            	<div class="wrapper">
		                            	<div class="circle">3</div>
	                                    <div class="extra-wrap">Elitu praesent vestiblum molestie- men lacuse aenea nonummy hendrerit maurhasell porta. Fusce suscipit varius mi cum sociise natoque penatibuse magnis dis- empa rturient monte nascetur.</div>
	                                </div>
	                            </div>
	                        	<div class="grid_4 omega indent-sw-1">
	                            	<div class="wrapper indent-bot2 indent-sw-1">
		                            	<div class="circle">2</div>
	                                    <div class="extra-wrap">Lacuse aenea nonummy hendrerit maurhasell porta. Fusce suscipit varius mi cum sociise natoque penatibuse magnis disempa rturient monte nascetur ridiculus mus. Nulladu Fusce feugiat males.</div>
	                                </div>
	                            	<div class="wrapper">
		                            	<div class="circle">4</div>
	                                    <div class="extra-wrap">Fusce suscipit varius mi cum sociise natoque penatibuse magnis disempa rturient monte nascetur ridiculus mus. Nulladu Fusce feugiat males uada odio. Morbi nunc odio,gravida at.</div>
	                                </div>
	                            </div>
	                        </div>
	                    </div>
	                    <div class="grid_4">
	                    	<h3 class="p3">Did You Know?</h3>
	                        <div class="float-sw-2 indent-r-sw2">
		                        <figure class="img-pos img-border fleft p1 indent-sw-2 width-sw-4"><a class="width-sw-1" href="#"><img class="width-sw-2" src="images/page5-img1.jpg" alt="" /></a></figure>
		                        <div class="clear"></div>
	                        </div>
	                        Fusce suscipit varius mi cum sociise natoque penatibuse magnis disempa rturient monte nascetur ridiculus mus. Nulladu Fusce feugiat males uada odio. Morbi nunc odio,gravida at.
	                    </div>
	                </div>
	                <div class="wrapper">
	                    <div class="grid_4 indent-sw-1">
	                        <h3 class="p2">Special Offers</h3>
	                        <ul class="list-1">
	                        	<li><a href="#">Fusce euismod consequat ante parturi montes.</a></li>
	                            <li><a href="#">Lorem ipsum parturient montes dolor sit amet.</a></li>
	                            <li><a href="#">Pellentesque sed dolor congue varius mi.</a></li>
	                            <li><a href="#">Mauris accumsan nulla vel diam suscipit varius.</a></li>
	                            <li><a href="#">Sed in lacus suscipit varius mi enim adipiscing.</a></li>
	                            <li><a href="#">Nulla venenatis dis parturient in pede mi, aliq.</a></li>
	                            <li><a href="#">Aliquam dis parturient dapibus tincidunt metus.</a></li>
	                            <li><a href="#">Praesent justo dolor, lobortis quis varius mi.</a></li>
	                            <li><a href="#">Vestibulum suscipit varius sed ante accumsan.</a></li>
	                            <li class="last"><a href="#">Donec sagittis euismod parturient montes.</a></li>
	                        </ul>
	                    </div>
	                    <div class="grid_4 indent-sw-1">
	                        <h3 class="indent-bot">Our Mission</h3>
	                        <div class="wrapper p2">
	                            <figure class="img-pos img-border img-style3"><a href="#"><img src="images/page5-img2.jpg" alt="" /></a></figure>
	                            <div class="extra-wrap">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellen- tesque sed dolor. Aliquam congue fermentum nisl</div>
	                        </div>
	                        <div class="wrapper">
	                            <figure class="img-pos img-border img-style3"><a href="#"><img src="images/page5-img3.jpg" alt="" /></a></figure>
	                            <div class="extra-wrap">Aliquam congue fermen- tum nisl. Mauris accum- san nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi aliquet sit.</div>
	                        </div>
	                    </div>
	                    <div class="grid_4">
	                        <h3 class="indent-bot2">Company Team</h3>
	                        <h5 class="st2 bot-indent3">Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna.</h5>
	                        <p class="text-1 indent-bot2">Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis.</p>
	                        <a class="button" href="#"><span><span>more</span></span></a>
	                    </div>
	                </div>
	            </div>
		    </section>
	    </div>
        <div class="block"></div>
    </div>
    <!--==============================footer=================================-->
    <footer>
        <div class="container_12">
            <div class="wrapper">
                <div class="grid_2">
                    <ul class="social-buttons">
                        <li>Social:</li>
                        <li><a href="#"></a></li>
                        <li><a class="item-2" href="#"></a></li>
                        <li><a class="item-3" href="#"></a></li>
                        <li class="last"><a class="item-4" href="#"></a></li>
                    </ul>
                </div>
                <div class="grid_10">
                    <div class="left-pad">
                        <!--#include file="../../../includes/powered-by.inc" --> | <a class="link" href="index-6.html">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
	<script type="text/javascript"> Cufon.now(); </script>
    <!--#include file="../../../includes/ContentPageEnd.inc" -->
</body>
</html>