<!--#include file="../../../includes/GetContent.inc" --><!DOCTYPE html>
<html lang="en">
<head>
<!--#include file="../../../includes/ContentHead.inc" -->
<!--#include file="../../../includes/ContentJscripts.inc" -->
	<title>Solutions</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>
	<link rel="stylesheet" href="css/style.css" media="screen">
	<script src="js/jquery-1.7.1.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/superfish.js"></script>
	<script src="js/jquery.responsivemenu.js"></script>
	<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<link rel="stylesheet" href="css/ie.css"> 
	<![endif]-->
</head>
<body id="page4" >
	<!-- header -->
	<header>
		<div class="container_24">
			<div>
				<div class="grid_24">
					<h1><a href="index.html">Salut</a></h1>
					<!-- menu -->
					<nav>
						<ul class="sf-menu">
							<li><a href="index.html">home</a></li>
							<li><a href="index-1.html">company</a>
								<ul>
									<li><a href="#">Welcome Message</a></li>
									<li><a href="#">Company Profile</a></li>
									<li><a href="#">Our History</a>
										<ul>
											<li><a href="#">Our Capabilities</a></li>
											<li><a href="#">Advantages</a></li>
											<li><a href="#">Work Team</a></li>
											<li><a href="#">Partnership</a></li>
											<li><a href="#">Support</a></li>
										</ul>
									</li>
									<li><a href="#">Testimonials</a></li>
								</ul>
							</li>
							<li><a href="index-2.html">services</a></li>
							<li class="active"><a href="index-3.html">solutions</a></li>
							<li class="last-child"><a href="index-4.html">contacts</a></li>
						</ul>
					</nav><!-- end menu -->
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</header><!-- end header -->
	
	<!-- content -->
	<section id="content">
		<div class="container_24">
			<div class="wrapper">
				<div class="grid_24">
					<h2 class="ident-bot-9 word-space-1">Offering ideas that raise your business above the expected!</h2>
				</div>
				<div class="grid_7 ident-bot-20">
					<div class="rt-block-4">
						<h4 class="ident-bot-11 word-space-1">Personal Solutions</h4>
						<p class="ident-bot-11">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla el diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor.</p>
						<a class="button" href="#">View More</a>
					</div>
				</div>
				<div class="grid_7 ident-bot-20">
					<div class="rt-block-4">
						<h4 class="ident-bot-11 word-space-1">Advisory Solutions</h4>
						<p class="ident-bot-11">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla el diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor.</p>
						<a class="button" href="#">View More</a>
					</div>
				</div>
				<div class="grid_7 ident-bot-20">
					<div class="rt-block-4">
						<h4 class="ident-bot-11 word-space-1">Saving Solutions</h4>
						<p class="ident-bot-11">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla el diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor.</p>
						<a class="button" href="#">View More</a>
					</div>
				</div>
			</div>
			<div class="line ident-bot-21"></div>
			<div class="wrapper ident-bot-23">
				<div class="grid_17">
					<h2 class="word-space-1 ident-bot-22">Successful Economic Solutions </h2>
					<p>Aliquam congue fermentum nisl. Mauris accumlla vel . Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortisgnissim, pulvinar ac,lacus ut enim adipiscing aliquet. </p>
				</div>
			</div>
			<div class="wrapper">
				<div class="grid_13 ident-bot-23">
					<img class="ident-top-3" src="images/4page_img1.png" alt="" />
				</div>
				<div class="grid_11 ident-bot-23">
					<div class="rt-block-5">
						<div class="ident-bot-24">
							<p><strong><a href="#">Offering comprehensive projects</a></strong></p>
							<p>Aliquam congue fermentum nisl. Mauris accumlla vel . Sed in lacus ut enim adipiscing. aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus.</p>
						</div>
						<div class="ident-bot-24">
							<p><strong><a href="#">Providing the best projects</a></strong></p>
							<p>Mauris accumlla vel . Sed in lacus ut enim adipi scing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula.</p>
						</div>
						<div>
							<p><strong><a href="#">Market research solutions</a></strong></p>
							<p>Aliquam congue fermentum nisl. Mauris accumlla vel . Sed in lacus ut enim adipiscing. aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- end content -->
	
	<!-- footer -->
	<footer>
		<div class="container_24">
			<div class="wrapper">
				<div class="grid_24">
					<ul class="soc-list">
						<li><a href="#"><img src="images/soc-icon-1.jpg" alt="" /></a></li>
						<li><a href="#"><img src="images/soc-icon-2.jpg" alt="" /></a></li>
						<li><a href="#"><img src="images/soc-icon-3.jpg" alt="" /></a></li>
					</ul>
					<div class="policy"><span class="footer-logo">Salut</span> <span class="policy-ident-1"><!--#include file="../../../includes/powered-by.inc" --> | <a href="index-5.html">Privacy Policy</a></span></div>
				</div>
			</div>
			</div>
		</div>
	</footer> 
    <!--#include file="../../../includes/ContentPageEnd.inc" --> 
</body>
</html>
