<!--#include file="../../../includes/GetContent.inc" --><!DOCTYPE html>
<html lang="en">
<head>
<!--#include file="../../../includes/ContentHead.inc" -->
<!--#include file="../../../includes/ContentJscripts.inc" -->
	<title>Company</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width; initial-scale=1.0">
	<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet'>
	<link href='http://fonts.googleapis.com/css?family=Cookie' rel='stylesheet'>
	<link rel="stylesheet" href="css/style.css" media="screen">
	<script src="js/jquery-1.7.1.min.js"></script>
	<script src="js/script.js"></script>
	<script src="js/superfish.js"></script>
	<script src="js/jquery.responsivemenu.js"></script>
	<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<link rel="stylesheet" href="css/ie.css"> 
	<![endif]-->
</head>
<body id="page2" >
	<!-- header -->
	<header>
		<div class="container_24">
			<div>
				<div class="grid_24">
					<h1><a href="index.html">Salut</a></h1>
					<!-- menu -->
					<nav>
						<ul class="sf-menu">
							<li><a href="index.html">home</a></li>
							<li class="active"><a href="index-1.html">company</a>
								<ul>
									<li><a href="#">Welcome Message</a></li>
									<li><a href="#">Company Profile</a></li>
									<li><a href="#">Our History</a>
										<ul>
											<li><a href="#">Our Capabilities</a></li>
											<li><a href="#">Advantages</a></li>
											<li><a href="#">Work Team</a></li>
											<li><a href="#">Partnership</a></li>
											<li><a href="#">Support</a></li>
										</ul>
									</li>
									<li><a href="#">Testimonials</a></li>
								</ul>
							</li>
							<li><a href="index-2.html">services</a></li>
							<li><a href="index-3.html">solutions</a></li>
							<li class="last-child"><a href="index-4.html">contacts</a></li>
						</ul>
					</nav><!-- end menu -->
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</header><!-- end header -->
	
	<!-- content -->
	<section id="content">
		<div class="container_24 z-index-1">
			<div class="ident-bot-29">
				<div class="grid_8">
					<div class="rt-block-5-1 rt-ident-bottom-1">
						<div class="block-2">
							<img class="fleft ident-right-2" src="images/2page_img1.png" alt="" />
							<div class="extra-wrap">
								<p class="ident-top-4">Lorem ipsum dolor sit amet, consec tetuer adipi scing elit. Praesent vestibulum</p>
								<p>- John Smith, <a class="link-1" href="#">Director</a></p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="grid_8">
					<div class="rt-block-10">
						<h2 class="h2 ident-bot-1">Our Mission</h2>
						<p class="ident-bot-25">Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla el diam. Sed in lacus ut enim adipisc</p>
						<a class="button" href="#">View More</a>
					</div>
				</div>
				<div class="grid_8">
					<div class="rt-block-5-2 rt-ident-top-1">
						<div class="block-2-1">
							<img class="fright ident-left-2" src="images/2page_img2.png" alt="" />
							<div class="extra-wrap">
								<p class="ident-top-4">Lorem ipsum dolor sit amet, consec tetuer adipi scing elit. Praesent vestibulum</p>
								<p>-  Marsha Lopes, <br /> <a class="link-1" href="#">Support Manager</a></p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="ident-bot-29">
				<div class="grid_8">
					<div class="rt-block-5-1 rt-ident-bottom-1">
						<div class="block-2-2">
							<img class="fleft ident-right-2" src="images/2page_img3.png" alt="" />
							<div class="extra-wrap">
								<p class="ident-top-4">Lorem ipsum dolor sit amet, consec tetuer adipi scing elit. Praesent vestibulum</p>
								<p>- Anna Grosh, <br /> <a class="link-1" href="#">Product Manager</a></p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="grid_8">
					<div class="rt-block-10">
						<h2 class="ident-bot-1">Teamwork</h2>
						<p class="ident-bot-25">Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam </p>
						<a class="button" href="#">View More</a>
					</div>
				</div>
				<div class="grid_8">
					<div class="rt-block-5-2 rt-ident-top-1">
						<div class="block-2-1">
							<img class="fright ident-left-2" src="images/2page_img4.png" alt="" />
							<div class="extra-wrap">
								<p class="ident-top-4">Lorem ipsum dolor sit amet, consec tetuer adipi scing elit. Praesent vestibulum</p>
								<p>-  Linda Adams, <br /> <a class="link-1" href="#">Project Manager</a></p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			
			<div class="ident-bot-6">
				<div class="grid_8">
					<div class="rt-block-5-1 rt-ident-bottom-1">
						<div class="block-2-2">
							<img class="fleft ident-right-2" src="images/2page_img5.png" alt="" />
							<div class="extra-wrap">
								<p class="ident-top-4">Lorem ipsum dolor sit amet, consec tetuer adipi scing elit. Praesent vestibulum</p>
								<p>- Ava Tomson, <br /> <a class="link-1" href="#">Project Manager</a></p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="grid_8">
					<div class="rt-block-10">
						<h2 class="ident-bot-1">Solutions</h2>
						<p class="ident-bot-25">Aliquam congue fermentum nisl. Mauris accumsan nulla vel diam. Sed in lacus ut enim adipisci aliquet. Nulla venenatis. In pede mi, aliquet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus.</p>
						<a class="button" href="#">View More</a>
					</div>
				</div>
				<div class="grid_8">
					<div class="rt-block-5-2 rt-ident-top-1">
						<div class="block-2-3">
							<img class="fright ident-left-2" src="images/2page_img6.jpg" alt="" />
							<div class="extra-wrap">
								<p class="ident-top-4">Lorem ipsum dolor sit amet, consec tetuer adipi scing elit. Praesent vestibulum</p>
								<p>-  Sam Poloters, <a class="link-1" href="#">SEO</a></p>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="line ident-bot-6"></div>
			<div class="wrapper">
				<div class="grid_23">
					<h2 class="h2 ident-bot-7">our clients</h2>
					<p class="ident-bot-8"><strong><span>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta.</span> <span class="rt-block-1-3 ">Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes</span></strong></p>
					<p class="rt-block-7 ident-bot-30">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio.</p>
					<div class="wrapper banners">
						<a href="#"><img src="images/banner-1.jpg" alt="" /></a>
						<a href="#"><img src="images/banner-2.jpg" alt="" /></a>
						<a href="#"><img src="images/banner-3.jpg" alt="" /></a>
						<a href="#"><img class="rt-ident-right-1" src="images/banner-4.jpg" alt="" /></a>
						<a href="#"><img src="images/banner-5.jpg" alt="" /></a>
						<a href="#"><img src="images/banner-6.jpg" alt="" /></a>
						<a href="#"><img class="rt-ident-right-2" src="images/banner-7.jpg" alt="" /></a>
						<a href="#"><img class="rt-ident-right-2" src="images/banner-8.jpg" alt="" /></a>
						<a href="#"><img class="rt-ident-right-1" src="images/banner-9.jpg" alt="" /></a>
					</div>
				</div>
			</div>
		</div>
	</section><!-- end content -->
	
	<!-- footer -->
	<footer>
		<div class="container_24">
			<div class="wrapper">
				<div class="grid_24">
					<ul class="soc-list">
						<li><a href="#"><img src="images/soc-icon-1.jpg" alt="" /></a></li>
						<li><a href="#"><img src="images/soc-icon-2.jpg" alt="" /></a></li>
						<li><a href="#"><img src="images/soc-icon-3.jpg" alt="" /></a></li>
					</ul>
					<div class="policy"><span class="footer-logo">Salut</span> <span class="policy-ident-1"><!--#include file="../../../includes/powered-by.inc" --> | <a href="index-5.html">Privacy Policy</a></span></div>
				</div>
			</div>
		</div>
	</footer>  
    <!--#include file="../../../includes/ContentPageEnd.inc" -->
</body>
</html>
