<!--#include file="../../../includes/GetContent.inc" -->
<!DOCTYPE html>
<html lang="en">
<head>
	<!--#include file="../../../includes/ContentHead.inc" -->
	<!--#include file="../../../includes/ContentJscripts.inc" -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
	<link rel="stylesheet" href="css/style.css" media="screen" />
	<link rel="icon" href="images/favicon.ico" />
	<link rel="shortcut icon" href="images/favicon.ico" />
	<script src="js/jquery-1.7.2.min.js"></script>
	<script src="js/superfish.js"></script>
	<script src="js/jquery.responsivemenu.js"></script>
	<script src="js/script.js"></script>
	<!--[if lt IE 8]>
		<div style=' clear: both; text-align:center; position: relative;'>
			<a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
				<img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
			</a>
		</div>
	<![endif]-->
	<!--[if lt IE 9]>
		<script src="js/html5.js"></script>
		<link rel="stylesheet" href="css/ie.css"> 
	<![endif]-->
</head>
<body id="page3" >
	<div class="main">
		<!-- header -->
		<header>
			<div class="row-1">
				<div class="container_12">
					<div class="wrapper">
						<div class="grid_12">
							<h1><a href="index.html">Car <span>Repair</span></a></h1>
							<div class="head-adress">
								<p class="line-1">8901 Marmora Road, <br class="rt-hidden-1" /> Glasgow,  D04 89GR</p>
								<p class="line-2">+1 959 552 5975</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row-2">
					<div class="main-2">
							<!-- menu -->
							<nav>
								<ul class="sf-menu">
									<li><a href="index.html">HOME</a></li>
									<li><a href="index-1.html">about</a></li>
									<li class="active"><a href="index-2.html">MAINTENANCE</a>
										<ul>
											<li><a href="#">- Complete Computer Diagnostics</a></li>
											<li><a href="#">- Complete Safety Analysis</a></li>
											<li><a href="#">- Drivability Problems</a></li>
											<li><a href="#">- Tune-ups</a></li>
											<li><a href="#">- Oil Changes</a></li>
										</ul>
									</li>
									<li><a href="index-3.html">REPAIR</a></li>
									<li><a href="index-4.html">PRICE LIST</a></li>
									<li><a href="index-5.html">LOCATIONS</a></li>
								</ul>
								<div class="clear"></div>
							</nav><!-- end menu -->
						<div class="clear"></div>
					</div>
			</div>
		</header><!-- end header -->
		
		<!-- content -->
		<section id="content">
			<div class="container_12">
				<div class="wrapper">
					<div class="grid_4 rt-ident-bottom-2">
						<div class="block-5 grad-1 ident-bot-10">
							<div class="block-5-7">
								<h2 class="h2-color-1">Maintenance <span>Important</span></h2>
							</div>
							<div class="block-5-8 shad-1">
								<p class="ident-bot-2"><strong class="strong-1">Lorem ipsum dolor sit amet, adipisi cing elit, sed do eiusmod.</strong></p>
								<p class="ident-bot-1">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit ame</p>
								<img class="ident-bot-1 rt-image-1" src="images/3page_img1.jpg" alt="" />
								<p class="ident-bot-4">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sus pendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. </p>
								<ul class="list-3 ident-left-1">
									<li><a href="#">Oil Change</a></li>
									<li><a href="#">Maintenance Tune-Up</a></li>
									<li><a href="#">Transmission Service</a></li>
									<li><a href="#">A/C Service</a></li>
									<li><a href="#">Radiator Service</a></li>
									<li><a href="#">Vehicle Inspection</a></li>
								</ul>								
							</div>
						</div>
						<div class="block-5 grad-1">
							<div class="block-5-4">
								<h2 class="h2-color-1">View Scheduled <span>Maintenance</span></h2>
							</div>
							<div class="block-5-9 shad-1">
								<p class="ident-bot-9">Fusce suscipit varius mi. Cum sociis natoque penatibus et ma dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat male suada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. </p>
								<p class="ident-bot-19">Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consect etuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. Ut tellus dolor, dapibus eget, elementum vel, cursus </p>
								<div class="button-shadow">
									<a class="button-1" href="#"><span>read more</span></a>
								</div>
							</div>
						</div>
					</div>
					<div class="grid_8">
						<div class="block-4 ident-bot-9 text-color-1">
							<div class="block-4-4">
								<h2>Car Care  Tutorials</h2>
							</div>
							<div class="block-4-7 shad-2">
								<div class="wrapper ident-bot-9">
									<img class="rt-img-3 rt-ident-bottom-1-1" src="images/3page_img2.jpg" alt="" />
									<div class="ident-top-1">
										<p class="ident-bot-18"><strong>Lesson 1</strong></p>
										<p class="ident-bot-10"><a class="link-2" href="#">Mauris accumsan nulla vel diam</a></p>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet. empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
									</div>
								</div>
								<div class="wrapper ident-bot-9">
									<img class="rt-img-3 rt-ident-bottom-1-1" src="images/3page_img3.jpg" alt="" />
									<div class="ident-top-1">
										<p class="ident-bot-18"><strong>Lesson 2</strong></p>
										<p class="ident-bot-10"><a class="link-2" href="#">Sed ut perspiciatis unde </a></p>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet. empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
									</div>
								</div>
								<div class="wrapper ident-bot-9">
									<img class="rt-img-3 rt-ident-bottom-1-1" src="images/3page_img4.jpg" alt="" />
									<div class="ident-top-1">
										<p class="ident-bot-18"><strong>Lesson 3</strong></p>
										<p class="ident-bot-10"><a class="link-2" href="#">Donec sagittis euismod purus </a></p>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet. empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
									</div>
								</div>
								<div class="wrapper">
									<img class="rt-img-3 rt-ident-bottom-1-1" src="images/3page_img5.jpg" alt="" />
									<div class="ident-top-1">
										<p class="ident-bot-18"><strong>Lesson 4</strong></p>
										<p class="ident-bot-10"><a class="link-2" href="#">Sed ut perspiciatis unde </a></p>
										<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet. empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="block-4 text-color-1">
							<div class="block-4-4">
								<h2>On Time Guarantee</h2>
							</div>
							<div class="block-4-2 shad-2">
								<p class="text-3 ident-bot-18">Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. </p>
								<p>Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section><!-- end content -->
		
		<!-- footer -->
		<footer>
			<div class="container_12">
				<div class="wrapper">
					<div class="grid_12">
						<ul class="list-2">
							<li><a href="index.html">HOME</a></li>
							<li><a href="index-1.html">about</a></li>
							<li><a class="active-2" href="index-2.html">MAINTENANCE</a></li>
							<li><a href="index-3.html">REPAIR</a></li>
							<li><a href="index-4.html">PRICE LIST</a></li>
							<li><a href="index-5.html">LOCATIONS</a></li>
						</ul>
						<div class="policy">
                        <!--#include file="../../../includes/powered-by.inc" --> | <!-- #include file="../../../includes/Privacy-Policy.asp"--></div>
					</div>
				</div>
			</div>
		</footer>  
	</div>
    <!--#include file="../../../includes/ContentPageEnd.inc" -->
</body>
</html>